In [1]:
import pandas as pd

## 예제 1-2  검색과 슬라이싱 편리성

In [2]:
ser = pd.Series([1,2,3])

In [3]:
df = pd.DataFrame(ser)

In [4]:
df

   0
0  1
1  2
2  3

In [5]:
df[0]

0    1
1    2
2    3
Name: 0, dtype: int64

In [6]:
df.iloc[0]

0    1
Name: 0, dtype: int64

In [7]:
df.iloc[0,0]

1

In [8]:
df[0]

0    1
1    2
2    3
Name: 0, dtype: int64

In [9]:
df[0][0]

1