In [1]:
import pandas as pd

## 예제 1-5  연산을 수행할 경우 새로운 인스턴스 생성

In [37]:
df_b = df + 99

In [38]:
df_b

     a    b    c
0  199  101  102
1  199  104  105
2  199  107  108

In [78]:
id(df_b), id(df)

(2237701314600, 2237706011816)

In [39]:
df_b.values.base is df.values.base

False

In [40]:
df

     a  b  c
0  100  2  3
1  100  5  6
2  100  8  9

In [41]:
import numpy as np

In [42]:
s1 = pd.Series(index=list('abcd'), data=np.arange(4))

In [43]:
s2 = s1

In [44]:
s1 is s2

True

In [45]:
s3 = s1.copy()

In [46]:
s1 is s3

False