In [1]:
import pandas as pd

## 예제 4-9 멀티인덱스 생성

In [2]:
import numpy as np

In [3]:
ind = [("서울", 2017), ("경기도",2017)]

In [4]:
si = pd.Series(np.random.randint(1,10,2),index=ind)

In [5]:
si

(서울, 2017)     9
(경기도, 2017)    3
dtype: int32

In [6]:
si.index

Index([('서울', 2017), ('경기도', 2017)], dtype='object')

In [7]:
try :
    si['서울']
except Exception as e :
    print(e)

'서울'

In [8]:
 si['서울',2017]

9

In [9]:
si[('서울',2017)]

9

In [10]:
index = pd.MultiIndex.from_tuples(ind)

In [11]:
index

MultiIndex(levels=[['경기도', '서울'], [2017]],
           labels=[[1, 0], [0, 0]])

In [12]:
s = pd.Series(np.random.randint(1,10,2),index=index)

In [13]:
s

서울   2017    9
경기도  2017    5
dtype: int32

In [14]:
s['서울']

2017    9
dtype: int32

In [15]:
s['서울',2017]

9

In [16]:
s[('서울',2017)]

9

In [17]:
s.loc['서울']

2017    9
dtype: int32

In [18]:
s[:,2017]

서울     9
경기도    5
dtype: int32

In [19]:
s.loc[:,2017]

서울     9
경기도    5
dtype: int32

In [20]:
import numpy as np

In [21]:
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
          np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]

In [22]:
s = pd.Series(np.random.randn(8), index=arrays)

In [23]:
s

bar  one   -0.176555
     two    0.072935
baz  one    0.747105
     two   -1.226154
foo  one    1.087123
     two    0.072995
qux  one   -0.258387
     two    0.720419
dtype: float64

In [24]:
s.index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]])

In [25]:
iterables = [['bar', 'baz', 'foo', 'qux'], ['one', 'two']]

In [26]:
arrays2 = pd.MultiIndex.from_product(iterables, names=['first', 'second'])

In [27]:
arrays2

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [72]:
arrays2.levels

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

In [73]:
arrays2.labels

FrozenList([[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]])

In [74]:
arrays2.values

array([('bar', 'one'), ('bar', 'two'), ('baz', 'one'), ('baz', 'two'),
       ('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')],
      dtype=object)

In [75]:
arrays2.names

FrozenList(['first', 'second'])

In [28]:
s2 = pd.Series(np.random.randn(8), index=arrays2)

In [29]:
s2

first  second
bar    one       1.399236
       two       0.566254
baz    one       0.921560
       two       0.822533
foo    one      -0.974971
       two      -0.647916
qux    one      -0.270709
       two      -0.382016
dtype: float64

In [30]:
index = [('서울',2008),('서울',2010),('부산',2008),('부산',2010), ('인천',2008),('인천',2010)]

In [31]:
mul_index = pd.MultiIndex.from_tuples(index)

In [32]:
mul_index

MultiIndex(levels=[['부산', '서울', '인천'], [2008, 2010]],
           labels=[[1, 1, 0, 0, 2, 2], [0, 1, 0, 1, 0, 1]])

In [33]:
mul_index.values

array([('서울', 2008), ('서울', 2010), ('부산', 2008), ('부산', 2010),
       ('인천', 2008), ('인천', 2010)], dtype=object)

In [34]:
mul_index.value_counts()

(서울, 2010)    1
(부산, 2010)    1
(부산, 2008)    1
(인천, 2008)    1
(서울, 2008)    1
(인천, 2010)    1
dtype: int64

In [35]:
mul_index.levels

FrozenList([['부산', '서울', '인천'], [2008, 2010]])

In [36]:
mul_index.labels

FrozenList([[1, 1, 0, 0, 2, 2], [0, 1, 0, 1, 0, 1]])

## 예제 4-10 멀티인덱스를 이용한 시리즈 활용

In [37]:
populations = [ 30000,37000, 18970, 19370, 20850, 25140]

In [38]:
pop = pd.Series(populations, index=mul_index)

In [39]:
pop

서울  2008    30000
    2010    37000
부산  2008    18970
    2010    19370
인천  2008    20850
    2010    25140
dtype: int64

In [40]:
pop['서울']

2008    30000
2010    37000
dtype: int64

In [41]:
pop['서울',2008]

30000

In [42]:
pop[:, 2010]

서울    37000
부산    19370
인천    25140
dtype: int64

In [43]:
try :
    pop["서울" : "인천"]
except Exception as e :
    print(e)

'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [44]:
pop = pop.sort_index()

In [45]:
pop["서울" : "인천"]

서울  2008    30000
    2010    37000
인천  2008    20850
    2010    25140
dtype: int64

In [46]:
pop.index.names = ['시','년도']

In [47]:
pop

시   년도
부산  2008    18970
    2010    19370
서울  2008    30000
    2010    37000
인천  2008    20850
    2010    25140
dtype: int64

## 예제 4-11 멀티인덱스를 이용한 데이터프레임  활용

In [48]:
r_inx = pd.MultiIndex.from_product([[2017,2018],[1,2]], names=['년도','과제점수'])

In [49]:
r_inx

MultiIndex(levels=[[2017, 2018], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['년도', '과제점수'])

In [50]:
c_inx = pd.MultiIndex.from_product([['철수','영희','지원'],['컴공','경제']], names=['학생','학과'])

In [51]:
c_inx

MultiIndex(levels=[['영희', '지원', '철수'], ['경제', '컴공']],
           labels=[[2, 2, 0, 0, 1, 1], [1, 0, 1, 0, 1, 0]],
           names=['학생', '학과'])

In [52]:
import numpy as np

In [53]:
data = np.round(np.abs(np.random.randn(4,6)),1)

In [54]:
data

array([[0.4, 0.2, 0.1, 0. , 1. , 0.5],
       [0.4, 2.1, 1.3, 1.4, 1.5, 1.4],
       [1.9, 0.3, 0.8, 1.7, 0.6, 0.2],
       [0.7, 1. , 0.7, 1.3, 0.8, 0.2]])

In [79]:
study_data = pd.DataFrame(data, index=r_inx, columns=c_inx)

In [80]:
study_data

학생          철수        영희        지원
학과          컴공   경제   컴공   경제   컴공   경제
년도   과제점수
2017 1     0.4  0.2  0.1  0.0  1.0  0.5
     2     0.4  2.1  1.3  1.4  1.5  1.4
2018 1     1.9  0.3  0.8  1.7  0.6  0.2
     2     0.7  1.0  0.7  1.3  0.8  0.2

In [81]:
study_data.index

MultiIndex(levels=[[2017, 2018], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['년도', '과제점수'])

In [82]:
study_data.columns

MultiIndex(levels=[['영희', '지원', '철수'], ['경제', '컴공']],
           labels=[[2, 2, 0, 0, 1, 1], [1, 0, 1, 0, 1, 0]],
           names=['학생', '학과'])

In [83]:
study_data.index[0]

(2017, 1)

In [84]:
study_data.index[1]

(2017, 2)

In [85]:
study_data.index.names[0]

'년도'

In [86]:
study_data.index.names[1]

'과제점수'

In [88]:
study_data.values

array([[0.4, 0.2, 0.1, 0. , 1. , 0.5],
       [0.4, 2.1, 1.3, 1.4, 1.5, 1.4],
       [1.9, 0.3, 0.8, 1.7, 0.6, 0.2],
       [0.7, 1. , 0.7, 1.3, 0.8, 0.2]])

In [89]:
study_data['지원']

학과          컴공   경제
년도   과제점수
2017 1     1.0  0.5
     2     1.5  1.4
2018 1     0.6  0.2
     2     0.8  0.2

In [90]:
study_data['지원','컴공']

년도    과제점수
2017  1       1.0
      2       1.5
2018  1       0.6
      2       0.8
Name: (지원, 컴공), dtype: float64

In [91]:
study_data.loc[:, ('지원','컴공')]

년도    과제점수
2017  1       1.0
      2       1.5
2018  1       0.6
      2       0.8
Name: (지원, 컴공), dtype: float64

#### 멀티 인덱스를 사용할 경우 pd.IndexSlice를 사용해서 슬라이스를 만들어서 처리

       . loc[ 행, 열] 로 표시하므로 멀티 인덱스 자체가 행과 열을 구성
       . 멀티 인덱스 내의 특정 정보를 가져오려고 해도 슬라이스로 처리가 필요

In [92]:
try :
    study_data.loc[:2018, '철수':'영희']
except Exception as e :
    print(e)

'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [68]:
study_data = health_data.sort_index(axis=1)

In [93]:
study_data

학생          철수        영희        지원
학과          컴공   경제   컴공   경제   컴공   경제
년도   과제점수
2017 1     0.4  0.2  0.1  0.0  1.0  0.5
     2     0.4  2.1  1.3  1.4  1.5  1.4
2018 1     1.9  0.3  0.8  1.7  0.6  0.2
     2     0.7  1.0  0.7  1.3  0.8  0.2

In [96]:
study_data.sort_index(axis=1).loc[:2018, '영희':'지원']

학생          영희        지원
학과          경제   컴공   경제   컴공
년도   과제점수
2017 1     0.0  0.1  0.5  1.0
     2     1.4  1.3  1.4  1.5
2018 1     1.7  0.8  0.2  0.6
     2     1.3  0.7  0.2  0.8

In [98]:
study_data.loc[pd.IndexSlice[:,1], pd.IndexSlice[:, '컴공']]

학생          철수   영희   지원
학과          컴공   컴공   컴공
년도   과제점수
2017 1     0.4  0.1  1.0
2018 1     1.9  0.8  0.6

In [106]:
study_data.index

MultiIndex(levels=[[2017, 2018], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['년도', '과제점수'])

In [107]:
study_data.index.levels[0].dtype

dtype('int64')

In [109]:
study_data.index.levels[1].dtype

dtype('int64')

In [108]:
study_data.xs((2017,1))

학생  학과
철수  컴공    0.4
    경제    0.2
영희  컴공    0.1
    경제    0.0
지원  컴공    1.0
    경제    0.5
Name: (2017, 1), dtype: float64

In [110]:
study_data.xs(2017)

학생     철수        영희        지원
학과     컴공   경제   컴공   경제   컴공   경제
과제점수
1     0.4  0.2  0.1  0.0  1.0  0.5
2     0.4  2.1  1.3  1.4  1.5  1.4

In [111]:
study_data.columns.levels[0].dtype

dtype('O')

In [112]:
study_data.columns.levels[1].dtype

dtype('O')

In [113]:
study_data.xs(('지원','컴공'), axis=1)

년도    과제점수
2017  1       1.0
      2       1.5
2018  1       0.6
      2       0.8
Name: (지원, 컴공), dtype: float64