In [1]:
import pandas as pd

## 예제 2-10 : 딕셔너리가 원소인 딕셔너리로 데이터프레임 생성

In [32]:
data = {'AAA' : {'a' : 4,'b':5, 'c':6, 'd':7}, 
        'BBB' : {'a': 10, 'b' : 20, 'c':30, 'd': 40},
        'CCC' : {'a':100, 'b': 50, 'c': -30, 'd': -50} }

In [33]:
df = pd.DataFrame(data)

In [34]:
df

   AAA  BBB  CCC
a    4   10  100
b    5   20   50
c    6   30  -30
d    7   40  -50

In [35]:
df2 = pd.DataFrame(data, columns=['AAA','CCC'])

In [36]:
df2

   AAA  CCC
a    4  100
b    5   50
c    6  -30
d    7  -50