In [1]:
import pandas as pd

## 예제 2-15 논리식 검색

In [17]:
sat = pd.read_csv("../data/2014_korea_sat_scores.csv",encoding='euc-kr').dropna(axis=1)

In [18]:
sat.head()

   등급     과목 구분점수  도수(명)  비율(%)
0   1  국어 A형  128  13866   4.30
1   2  국어 A형  123  23599   7.32
2   3  국어 A형  116  42470  13.17
3   4  국어 A형  108  52640  16.32
4   5  국어 A형   97  63896  19.81

In [19]:
sat.shape

(342, 5)

In [20]:
sat['도수(명)'].dtype

dtype('int64')

In [21]:
import numpy as np

In [22]:
sat['도수(명)'] = sat['도수(명)'].astype(np.int64)

In [23]:
sat['도수(명)'].dtype

dtype('int64')

In [24]:
(sat['도수(명)'] < 20000).head()

0     True
1    False
2    False
3    False
4    False
Name: 도수(명), dtype: bool

In [25]:
sat[sat['도수(명)'] < 20000].head()

    등급     과목  구분점수  도수(명)  비율(%)
0    1  국어 A형   128  13866   4.30
8    9  국어 A형  60미만  12554   3.89
9    1  국어 B형   127  12615   4.45
16   8  국어 B형    59  19943   7.03
17   9  국어 B형  59미만  10868   3.83

## 예제 2-16  다중 논리식 검색

In [26]:
l_sat = ((sat['도수(명)'] < 20000) & (sat['비율(%)'] <= 5.0))

In [27]:
l_sat.shape

(342,)

In [28]:
l_sat.sum()

71

In [29]:
sat_logic = sat[l_sat]

In [30]:
sat_logic.shape

(71, 5)

In [31]:
sat_logic.head()

    등급     과목  구분점수  도수(명)  비율(%)
0    1  국어 A형   128  13866   4.30
8    9  국어 A형  60미만  12554   3.89
9    1  국어 B형   127  12615   4.45
17   9  국어 B형  59미만  10868   3.83
18   1  수학 A형   137  19675   4.77

## 예제 2-17 시리즈에 논리식 검색

In [32]:
sat_ser =  sat['도수(명)']

In [33]:
sat_ser.head()

0    13866
1    23599
2    42470
3    52640
4    63896
Name: 도수(명), dtype: int64

In [34]:
sat_ser[sat_ser < 20000].shape

(294,)

In [35]:
sat_ser[sat_ser < 20000].head()

0     13866
8     12554
9     12615
16    19943
17    10868
Name: 도수(명), dtype: int64