In [1]:
import pandas as pd

## 예제 2-20 명시적 인덱서 검색

In [2]:
import seaborn as sns

In [3]:
diamonds = sns.load_dataset('diamonds')

In [4]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [5]:
diamonds.shape

(53940, 10)

In [6]:
diamonds.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [7]:
type(diamonds.loc)

pandas.core.indexing._LocIndexer

In [8]:
diamonds.loc[0]

carat       0.23
cut        Ideal
color          E
clarity      SI2
depth       61.5
table         55
price        326
x           3.95
y           3.98
z           2.43
Name: 0, dtype: object

In [9]:
diamonds.loc[0, 'carat']

0.23

In [10]:
diamonds.loc[:, 'carat'].head()

0    0.23
1    0.21
2    0.23
3    0.29
4    0.31
Name: carat, dtype: float64

In [11]:
diamonds['carat'].head()

0    0.23
1    0.21
2    0.23
3    0.29
4    0.31
Name: carat, dtype: float64

In [12]:
diamonds.loc[:, ['carat']].head()

   carat
0   0.23
1   0.21
2   0.23
3   0.29
4   0.31

In [13]:
diamonds[['carat']].head()

   carat
0   0.23
1   0.21
2   0.23
3   0.29
4   0.31

In [32]:
diamonds.xs(0)

carat       0.23
cut        Ideal
color          E
clarity      SI2
depth       61.5
table         55
price        326
x           3.95
y           3.98
z           2.43
Name: 0, dtype: object

In [34]:
diamonds.xs("carat",1).head()

0    0.23
1    0.21
2    0.23
3    0.29
4    0.31
Name: carat, dtype: float64

In [27]:
diamonds.lookup([0,1],['carat','cut'])

array([0.23, 'Premium'], dtype=object)

## 예제 2-21 암묵적 인덱서  검색

In [14]:
diamonds.iloc[0]

carat       0.23
cut        Ideal
color          E
clarity      SI2
depth       61.5
table         55
price        326
x           3.95
y           3.98
z           2.43
Name: 0, dtype: object

In [15]:
diamonds.iloc[0,0]

0.23

In [16]:
diamonds.iloc[0,[0]]

carat    0.23
Name: 0, dtype: object

In [17]:
diamonds.iloc[0,[0,1,2]]

carat     0.23
cut      Ideal
color        E
Name: 0, dtype: object

In [18]:
diamonds.iloc[:5, :3]

   carat      cut color
0   0.23    Ideal     E
1   0.21  Premium     E
2   0.23     Good     E
3   0.29  Premium     I
4   0.31     Good     J

## 예제 2-22 명시적 인덱서 복합 검색

In [19]:
diamonds.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [20]:
((diamonds['carat']== 0.23) &(diamonds['cut'] == 'Very Good')).head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [21]:
carat_cut = diamonds.loc[((diamonds['carat']== 0.23) & 
              (diamonds['cut'] == 'Very Good')), 
             ['carat', 'cut','color','price']]

In [22]:
carat_cut.shape

(197, 4)

In [23]:
carat_cut.head()

    carat        cut color  price
9    0.23  Very Good     H    338
21   0.23  Very Good     E    352
22   0.23  Very Good     H    353
25   0.23  Very Good     G    354
28   0.23  Very Good     D    357

In [24]:
diamonds.loc[:,['carat', 'cut','color','price']].head()

   carat      cut color  price
0   0.23    Ideal     E    326
1   0.21  Premium     E    326
2   0.23     Good     E    327
3   0.29  Premium     I    334
4   0.31     Good     J    335

In [25]:
diamonds.loc._get_slice_axis(slice(0,len(diamonds))).head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [26]:
abc = diamonds.loc._get_slice_axis(slice(0,len(diamonds)))
abc.__getitem__(['carat', 'cut','color','price']).head()

   carat      cut color  price
0   0.23    Ideal     E    326
1   0.21  Premium     E    326
2   0.23     Good     E    327
3   0.29  Premium     I    334
4   0.31     Good     J    335

## 예제 2-23 문자열 값 순서 검색

In [71]:
set_i = diamonds.set_index('color')

In [72]:
set_i.head()

       carat      cut clarity  depth  table  price     x     y     z
color
E       0.23    Ideal     SI2   61.5   55.0    326  3.95  3.98  2.43
E       0.21  Premium     SI1   59.8   61.0    326  3.89  3.84  2.31
E       0.23     Good     VS1   56.9   65.0    327  4.05  4.07  2.31
I       0.29  Premium     VS2   62.4   58.0    334  4.20  4.23  2.63
J       0.31     Good     SI2   63.3   58.0    335  4.34  4.35  2.75

In [73]:
try :
    set_i.loc['E':'F']
except ValueError as e :
    print('ValueError', e)
except KeyError as e :
    print(' KeyError', e)

 KeyError "Cannot get left slice bound for non-unique label: 'E'"

In [74]:
set_i.sort_index(inplace=True)

In [75]:
try :
    set_i_str = set_i.loc['E':'F']
except ValueError as e :
    print('ValueError', e)
except KeyError as e :
    print(' KeyError', e)

In [76]:
set_i_str.shape

(19339, 9)

In [77]:
set_i_str.head()

       carat        cut clarity  depth  table  price     x     y     z
color
E       2.01      Ideal     SI2   62.2   57.0  17849  8.09  8.04  5.02
E       1.51  Very Good    VVS2   60.2   61.0  17689  7.34  7.40  4.44
E       0.50      Ideal    VVS2   61.5   57.0   2236  5.09  5.12  3.14
E       1.13      Ideal    VVS1   60.6   57.0  14525  6.72  6.77  4.09
E       1.51      Ideal     VS2   62.7   57.0  14482  7.31  7.26  4.57

In [78]:
set_i_str.tail()

       carat      cut clarity  depth  table  price     x     y     z
color
F       1.01    Ideal     VS1   62.5   54.0   7602  6.46  6.43  4.03
F       1.01  Premium     VS1   62.5   58.0   7602  6.42  6.37  4.00
F       1.05    Ideal     VS2   59.1   57.0   7697  6.67  6.66  3.94
F       1.01     Good     VS2   57.3   62.0   5487  6.63  6.59  3.79
F       1.52    Ideal     SI1   62.0   54.0  12071  7.36  7.44  4.59