In [3]:
import pandas as pd

## 예제 3-18 파일을 읽어서 범주형 자료형으로 변경처리

In [28]:
airplane = pd.read_csv('../data/airplane_info.csv',encoding='cp949')

In [29]:
airplane.head()

     기체번호       항공사        기종  정원_F  정원_C  정원_W  정원_Y    총정원
0  VP-BDK  Aeroflot  A320-214     0    20     0   120  140.0
1  VP-BWD  Aeroflot  A320-214     0    20     0   120  140.0
2  VP-BWE  Aeroflot  A320-214     0    20     0   120  140.0
3  VP-BWF  Aeroflot  A320-214     0    20     0   120  140.0
4  VP-BRZ  Aeroflot  A320-214     0    20     0   120  140.0

In [30]:
airplane['항공사'].dtype

dtype('O')

In [31]:
air_cat = pd.Categorical(airplane['항공사'])

In [32]:
air_cat.categories

Index(['AZAL Azerbaijan Airlines', 'Aeroflot', 'Air Arabia', 'Air Astana',
       'Air Baltic', 'Air China', 'Air Kyrgyzstan', 'Air Manas',
       'Airzena Georgian Airways', 'Asiana Airlines', 'AtlasGlobal',
       'Avia Traffic Company', 'Belavia', 'China Southern Airlines',
       'Ellinair', 'Etihad Airways', 'Finnair', 'Globus Airlines',
       'Hainan Airlines', 'Iran Aseman Airlines', 'KLM Royal Dutch Airlines',
       'Kam Air', 'Korean Air', 'LOT - Polish Airlines', 'Lufthansa',
       'MIAT - Monglian Airlines', 'Mahan Air', 'NordStar', 'Pegas Fly',
       'Pegasus Airlines', 'Pobeda', 'Red Wings', 'Rusline', 'S7 Airlines',
       'SCAT', 'Somon Air', 'Sunday Airlines', 'Tajik Air', 'Turkish Airlines',
       'Turkmenistan Airlines', 'Ukraine International Airlines',
       'Ural Airlines', 'Urumqi Air', 'Utair', 'Uzbekistan Airways',
       'VIM Airlines', 'Wizz Air', 'Yakutia Airlines', 'Yamal Airlines',
       'flydubai'],
      dtype='object')

In [33]:
air_cat

[Aeroflot, Aeroflot, Aeroflot, Aeroflot, Aeroflot, ..., Red Wings, Red Wings, Red Wings, Red Wings, Red Wings]
Length: 2178
Categories (50, object): [AZAL Azerbaijan Airlines, Aeroflot, Air Arabia, Air Astana, ..., Wizz Air, Yakutia Airlines, Yamal Airlines, flydubai]

In [34]:
air_cat.shape

(2178,)

In [35]:
airplane['항공사'].dtype

dtype('O')

In [36]:
airplane['항공사'] = airplane['항공사'].astype(air_cat)

In [37]:
airplane['항공사'].dtype

CategoricalDtype(categories=['AZAL Azerbaijan Airlines', 'Aeroflot', 'Air Arabia',
                  'Air Astana', 'Air Baltic', 'Air China', 'Air Kyrgyzstan',
                  'Air Manas', 'Airzena Georgian Airways', 'Asiana Airlines',
                  'AtlasGlobal', 'Avia Traffic Company', 'Belavia',
                  'China Southern Airlines', 'Ellinair', 'Etihad Airways',
                  'Finnair', 'Globus Airlines', 'Hainan Airlines',
                  'Iran Aseman Airlines', 'KLM Royal Dutch Airlines',
                  'Kam Air', 'Korean Air', 'LOT - Polish Airlines',
                  'Lufthansa', 'MIAT - Monglian Airlines', 'Mahan Air',
                  'NordStar', 'Pegas Fly', 'Pegasus Airlines', 'Pobeda',
                  'Red Wings', 'Rusline', 'S7 Airlines', 'SCAT', 'Somon Air',
                  'Sunday Airlines', 'Tajik Air', 'Turkish Airlines',
                  'Turkmenistan Airlines', 'Ukraine International Airlines',
                  'Ural Airlines', 'Urumqi Air', 'Utair', 'Uzbekistan Airways',
                  'VIM Airlines', 'Wizz Air', 'Yakutia Airlines',
                  'Yamal Airlines', 'flydubai'],
                 ordered=False)

In [39]:
try :
    airplane['항공사'][0] = "Asia Airline"
except Exception as e :
    print(e)

Cannot setitem on a Categorical with a new category, set the categories first

In [40]:
airplane.isnull().sum()

기체번호     0
항공사      0
기종       0
정원_F     0
정원_C     0
정원_W     0
정원_Y     0
총정원     71
dtype: int64

In [41]:
airplane.columns

Index(['기체번호', '항공사', '기종', '정원_F', '정원_C', '정원_W', '정원_Y', '총정원'], dtype='object')

In [42]:
airplane['총정원'].isnull().sum()

71

In [43]:
airplane.loc[airplane['총정원'].isnull(), '총정원']  = airplane.loc[airplane['총정원'].isnull(), '정원_Y']

In [18]:
airplane.isnull().sum()

기체번호    0
항공사     0
기종      0
정원_F    0
정원_C    0
정원_W    0
정원_Y    0
총정원     0
dtype: int64

In [19]:
airplane['총정원'].between(1,120).sum()

235

In [20]:
mask = airplane['총정원'].between(1,120)

In [22]:
import numpy as np

In [44]:
airplane['category_R'] = ""

In [45]:
airplane['category_R']  = pd.Categorical(np.where(mask, '소형', '중형'))

In [46]:
airplane.head()

     기체번호       항공사        기종  정원_F  정원_C  정원_W  정원_Y    총정원 category_R
0  VP-BDK  Aeroflot  A320-214     0    20     0   120  140.0         중형
1  VP-BWD  Aeroflot  A320-214     0    20     0   120  140.0         중형
2  VP-BWE  Aeroflot  A320-214     0    20     0   120  140.0         중형
3  VP-BWF  Aeroflot  A320-214     0    20     0   120  140.0         중형
4  VP-BRZ  Aeroflot  A320-214     0    20     0   120  140.0         중형

In [47]:
airplane['category_R'].value_counts()

중형    1943
소형     235
Name: category_R, dtype: int64

In [48]:
airplane['category_R'].dtype

CategoricalDtype(categories=['소형', '중형'], ordered=False)

In [50]:
np.zeros(10000*10000)

array([0., 0., 0., ..., 0., 0., 0.])