In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
%matplotlib inline

## 예제 10-7 파이썬 datetime 모듈 알아보기

In [5]:
import datetime

In [6]:
date = datetime.date(2018,9,29)

In [7]:
date

datetime.date(2018, 9, 29)

In [67]:
date.year, date.month, date.day

(2018, 9, 29)

In [8]:
time = datetime.time(12,30,19,463198)

In [9]:
time

datetime.time(12, 30, 19, 463198)

In [75]:
time.hour, time.minute, time.second, time.microsecond

(12, 30, 19, 463198)

In [10]:
dt = datetime.datetime(2018,9,29,12,30,19,463198)

In [11]:
dt

datetime.datetime(2018, 9, 29, 12, 30, 19, 463198)

In [12]:
td = datetime.timedelta(weeks=2, days=5, 
                        hours=10, minutes=20, 
                        seconds=6.73, 
                        milliseconds=99, 
                        microseconds=8)

In [13]:
td

datetime.timedelta(19, 37206, 829008)

In [80]:
td.days, td.seconds, td.microseconds, td.total_seconds()

(19, 37206, 829008, 1678806.829008)

In [14]:
date + td

datetime.date(2018, 10, 18)

In [81]:
dt + td

datetime.datetime(2018, 10, 18, 22, 50, 26, 292206)

In [82]:
dt - td

datetime.datetime(2018, 9, 10, 2, 10, 12, 634190)

In [83]:
time

datetime.time(12, 30, 19, 463198)

In [86]:
datetime.time.__dict__.get('__add__',"존재하지 않음")

'존재하지 않음'

In [15]:
try :
    time + td
except Exception as e :
    print(e)

unsupported operand type(s) for +: 'datetime.time' and 'datetime.timedelta'

In [87]:
datetime.time.__dict__.get('__sub__',"존재하지 않음")

'존재하지 않음'

In [84]:
try :
    time - td
except Exception as e :
    print(e)

unsupported operand type(s) for -: 'datetime.time' and 'datetime.timedelta'

## 예제 10-8 판다스의 Timestamp 처리알아보기

      유닉스 탄생 시각인 1970년 1월 1일부터 시각을 나노초로 전달
      
      
   
        Timestamp  : to_datetime, Timestamp
                Represents a single timestamp	
        DatetimeIndex	: to_datetime, date_range, bdate_range, DatetimeIndex
                 Index of Timestamp	
        Period	 :  Period
                Represents a single time span	
        PeriodIndex	: period_range, PeriodIndex
                 Index of Period

In [16]:
pd.Timestamp(0)

Timestamp('1970-01-01 00:00:00')

In [17]:
pd.Timestamp(17800, unit='D')

Timestamp('2018-09-26 00:00:00')

In [18]:
pd.Timestamp(17800, unit='h')

Timestamp('1972-01-12 16:00:00')

In [19]:
pd.Timestamp(17800, unit='m')

Timestamp('1970-01-13 08:40:00')

In [20]:
pd.Timestamp(17800, unit='s')

Timestamp('1970-01-01 04:56:40')

In [21]:
pd.Timestamp(17800, unit='ms')

Timestamp('1970-01-01 00:00:17.800000')

In [22]:
pd.Timestamp(17800, unit='us')

Timestamp('1970-01-01 00:00:00.017800')

In [23]:
pd.Timestamp(17800, unit='ns')

Timestamp('1970-01-01 00:00:00.000017800')

In [91]:
pd.Timestamp(year=2017, month=1, day=1, hour=12,
            minute=30, second=10, microsecond=10)

Timestamp('2017-01-01 12:30:10.000010')

## 예제 10-9 판다스의 to_datetime 처리알아보기

In [25]:
pd.to_datetime('2018-09-29')

Timestamp('2018-09-29 00:00:00')

In [26]:
pd.to_datetime('2018-29-09', dayfirst=True)

Timestamp('2018-09-29 00:00:00')

In [92]:
pd.to_datetime('29-09-2018', dayfirst=True)

Timestamp('2018-09-29 00:00:00')

In [27]:
pd.to_datetime(271, unit='D', origin='2018-01-01')

Timestamp('2018-09-29 00:00:00')

In [28]:
s = pd.Series([10,100,100,1000,10000])

In [29]:
pd.to_datetime(s,unit='D')

0   1970-01-11
1   1970-04-11
2   1970-04-11
3   1972-09-27
4   1997-05-19
dtype: datetime64[ns]

In [93]:
df = pd.DataFrame({'year': [2015, 2016],
                       'month': [2, 3],
                       'day': [4, 5]})

In [94]:
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [95]:
s1 = pd.Series(['09-05-2018', '09/05/2018', '2018-09-01','40/23/2018'])

In [96]:
s1

0    09-05-2018
1    09/05/2018
2    2018-09-01
3    40/23/2018
dtype: object

In [99]:
try :
    pd.to_datetime(s1)
except Exception as e :
    print(e)

month must be in 1..12

In [32]:
pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')

datetime.datetime(1300, 1, 1, 0, 0)

In [33]:
pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')

NaT

In [100]:
s2 = pd.to_datetime(s1,dayfirst=True, errors='coerce')

In [101]:
s2

0   2018-05-09
1   2018-05-09
2   2018-09-01
3          NaT
dtype: datetime64[ns]

In [102]:
s2.isnull().sum()

1

### 데이터 포맷팅 처리

In [36]:
pd.to_datetime('2010/11/12', format='%Y/%m/%d')

Timestamp('2010-11-12 00:00:00')

In [112]:
pd.to_datetime('12-11-2010 01:30:50', format='%d-%m-%Y %H:%M:%S')

Timestamp('2010-11-12 01:30:50')

In [104]:
s3 = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000']*1000)

In [105]:
s3.head()

0    3/11/2000
1    3/12/2000
2    3/13/2000
3    3/11/2000
4    3/12/2000
dtype: object

#### infer_datetime_format

    True 및 형식이 지정되지 않은 경우 datetime 문자열의 형식을 유추하여 유추 할 수있는 경우 빠른 구문 분석 방법으로 전환하십시오.
    경우에 따라 파싱 속도를 ~ 5-10x 높일 수 있습니다.

In [106]:
%timeit pd.to_datetime(s3,infer_datetime_format=True)

10.2 ms ± 1.29 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [107]:
sdt = pd.to_datetime(s3,infer_datetime_format=True)

In [108]:
sdt.head()

0   2000-03-11
1   2000-03-12
2   2000-03-13
3   2000-03-11
4   2000-03-12
dtype: datetime64[ns]

In [109]:
%timeit pd.to_datetime(s3,infer_datetime_format=False)

343 ms ± 45.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [110]:
sdt2 = pd.to_datetime(s3,infer_datetime_format=False)

In [111]:
sdt2.head()

0   2000-03-11
1   2000-03-12
2   2000-03-13
3   2000-03-11
4   2000-03-12
dtype: datetime64[ns]

## 예제 10-9 판다스의 Period 처리 알아보기

In [46]:
pd.Period('2014', freq='A-MAY')

Period('2014', 'A-MAY')

In [47]:
pd.Period('06/11/2014')

Period('2014-06-11', 'D')

In [48]:
pd.Period('11/11/1918 11:00',freq='H')

Period('1918-11-11 11:00', 'H')

In [49]:
pd.Period('06/30/2014') + 4

Period('2014-07-04', 'D')

In [50]:
 pd.Period('11/11/1918 11:00',freq='H') - 48

Period('1918-11-09 11:00', 'H')

In [51]:
pd.Period('2014-04', freq='M') - pd.Period('2013-02', freq='M')

14