In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.23.0'

## 예제 1-8 결측값으로 인스턴스 생성

In [47]:
import numpy as np

In [48]:
df_na = pd.DataFrame([1,2,np.nan])

In [49]:
df_na

     0
0  1.0
1  2.0
2  NaN

In [50]:
df_na.sum()

0    3.0
dtype: float64

In [51]:
df_na.sum(skipna=False)

0   NaN
dtype: float64

In [52]:
df_na < 3

       0
0   True
1   True
2  False

In [53]:
df_na < np.nan

       0
0  False
1  False
2  False