In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.23.0'

## 예제 1-7  브로드캐스팅과 벡터화 연산

In [19]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],
                  columns=list('abc'))

In [20]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [21]:
df + 3

    a   b   c
0   4   5   6
1   7   8   9
2  10  11  12

In [22]:
df1 = pd.DataFrame([[3,3,3],[3,3,3],[3,3,3]],
                  columns=list('abc'))

In [23]:
df1

   a  b  c
0  3  3  3
1  3  3  3
2  3  3  3

In [24]:
df + 3

    a   b   c
0   4   5   6
1   7   8   9
2  10  11  12

In [25]:
df + df1

    a   b   c
0   4   5   6
1   7   8   9
2  10  11  12

In [26]:
type(df.__add__)

method

In [27]:
type(df.__add__.__func__)

function

In [28]:
type(df.add)

method

In [29]:
type(df.add.__func__)

function

In [30]:
df.__add__.__func__ is df.add.__func__

False