In [1]:
import pandas as pd

## 예제 2-2 데이터프레임 멤버 알아보기

In [11]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8]],index=['a','b'],
                  columns=['c1','c2','c3','c4'])

In [12]:
df

   c1  c2  c3  c4
a   1   2   3   4
b   5   6   7   8

In [13]:
df.shape

(2, 4)

In [14]:
df.ndim

2

In [15]:
df.size

8

In [16]:
df.index

Index(['a', 'b'], dtype='object')

In [17]:
df.columns

Index(['c1', 'c2', 'c3', 'c4'], dtype='object')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, a to b
Data columns (total 4 columns):
c1    2 non-null int64
c2    2 non-null int64
c3    2 non-null int64
c4    2 non-null int64
dtypes: int64(4)
memory usage: 80.0+ bytes