In [1]:
import pandas as pd

## 예제 2-1 시리즈 멤버 알아보기

In [2]:
sr = pd.Series([1,2,3,4],index=list('abcd'),name="SR1")

In [3]:
sr

a    1
b    2
c    3
d    4
Name: SR1, dtype: int64

In [4]:
sr.name

'SR1'

In [5]:
sr.dtype

dtype('int64')

In [6]:
sr.shape

(4,)

In [7]:
sr.ndim

1

In [8]:
sr.size

4

In [9]:
sr.strides

(8,)

In [10]:
sr.index

Index(['a', 'b', 'c', 'd'], dtype='object')

## 예제 2-2 데이터프레임 멤버 알아보기

In [11]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8]],index=['a','b'],
                  columns=['c1','c2','c3','c4'])

In [12]:
df

   c1  c2  c3  c4
a   1   2   3   4
b   5   6   7   8

In [13]:
df.shape

(2, 4)

In [14]:
df.ndim

2

In [15]:
df.size

8

In [16]:
df.index

Index(['a', 'b'], dtype='object')

In [17]:
df.columns

Index(['c1', 'c2', 'c3', 'c4'], dtype='object')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, a to b
Data columns (total 4 columns):
c1    2 non-null int64
c2    2 non-null int64
c3    2 non-null int64
c4    2 non-null int64
dtypes: int64(4)
memory usage: 80.0+ bytes

## 예제 2-3 시리즈와 데이터프레임의 다양한 멤버 확인하기

In [18]:
s = set([ i for i in dir(pd.Series) if not i.startswith("_")])

In [19]:
d = set([ i for i in dir(pd.DataFrame) if not i.startswith("_")])

In [20]:
count = 0 
for i in (s - d ) :
    count += 1
    print(i, end=",  ") 
    if (count % 4 == 0) :
        print()

base,  flags,  value_counts,  itemsize,
searchsorted,  argsort,  nonzero,  cat,
real,  is_monotonic_decreasing,  is_unique,  ptp,
unique,  hasnans,  repeat,  is_monotonic_increasing,
name,  data,  dtype,  argmax,
dt,  ftype,  item,  valid,
imag,  between,  strides,  reshape,
asobject,  map,  factorize,  nbytes,
to_frame,  is_monotonic,  ravel,  put,
str,  from_array,  tolist,  argmin,
compress,  view,  autocorr,

In [21]:
count = 0 
for i in (d - s ) :
    count += 1
    print(i, end=",  ") 
    if (count % 4 == 0) :
        print()

from_dict,  columns,  itertuples,  melt,
to_records,  boxplot,  to_parquet,  corrwith,
join,  to_html,  info,  stack,
from_items,  pivot_table,  style,  set_index,
iterrows,  to_stata,  lookup,  eval,
merge,  query,  to_feather,  applymap,
to_panel,  insert,  select_dtypes,  to_gbq,
from_records,  pivot,  assign,

In [22]:
count = 0 
for i in (d & s ) :
    count += 1
    print(i, end=",  ") 
    if (count % 8 == 0) :
        print()

notna,  kurt,  set_axis,  as_matrix,  duplicated,  select,  subtract,  tshift,
values,  ftypes,  first_valid_index,  max,  align,  tz_localize,  to_json,  var,
tail,  mode,  rtruediv,  unstack,  as_blocks,  to_xarray,  add_prefix,  idxmax,
rsub,  iloc,  rolling,  first,  empty,  pct_change,  eq,  last,
bool,  get,  mad,  rpow,  at_time,  median,  truncate,  equals,
all,  rename,  interpolate,  le,  last_valid_index,  dropna,  nlargest,  corr,
quantile,  transpose,  plot,  any,  describe,  ndim,  sample,  memory_usage,
where,  multiply,  filter,  drop_duplicates,  iat,  asof,  apply,  to_pickle,
add,  squeeze,  cov,  loc,  slice_shift,  gt,  nunique,  reindex_axis,
sort_index,  ge,  pow,  swapaxes,  append,  get_ftype_counts,  pipe,  round,
nsmallest,  T,  axes,  reorder_levels,  bfill,  skew,  rmod,  kurtosis,
sort_values,  combine_first,  items,  head,  ffill,  replace,  mod,  is_copy,
transform,  xs,  infer_objects,  to_excel,  pop,  to_msgpack,  isin,  prod,
isna,  groupby,  copy,  aggregate,  get_value,  hist,  isnull,  diff,
clip_upper,  astype,  to_string,  rdiv,  dtypes,  sortlevel,  rename_axis,  to_dense,
cummax,  shape,  to_period,  clip,  asfreq,  at,  mean,  reset_index,
count,  cumsum,  resample,  lt,  index,  rmul,  rfloordiv,  add_suffix,
size,  sub,  abs,  to_sparse,  consolidate,  sum,  divide,  ewm,
product,  cumprod,  min,  ne,  reindex,  sem,  take,  blocks,
combine,  rank,  convert_objects,  between_time,  ix,  to_dict,  reindex_like,  radd,
tz_convert,  floordiv,  keys,  to_sql,  set_value,  shift,  clip_lower,  compound,
agg,  dot,  to_timestamp,  to_csv,  notnull,  drop,  div,  to_clipboard,
to_latex,  swaplevel,  mask,  get_dtype_counts,  std,  fillna,  mul,  cummin,
get_values,  expanding,  from_csv,  to_hdf,  update,  idxmin,  truediv,  iteritems,

## 예제 2-4 파일에 저장된 멤버 정보를 읽어와서 확인하기

In [23]:
df_f = pd.read_csv('../data/series_dataframe.csv', 
                   usecols=['Member','Series','DataFrame'],
                   encoding='euc-kr')

In [24]:
df_f.head()

       Member      Series   DataFrame
0           T           T           T
1         abs         abs         abs
2         add         add         add
3  add_prefix  add_prefix  add_prefix
4  add_suffix  add_suffix  add_suffix

In [25]:
df_f.shape

(264, 3)

In [26]:
df_f['Series'].head()

0             T
1           abs
2           add
3    add_prefix
4    add_suffix
Name: Series, dtype: object

In [27]:
df_f['Series'].isnull().sum()

29

In [28]:
df_f['DataFrame'].isnull().sum()

41

In [29]:
(df_f['Member'] == df_f['Series']).head()

0    True
1    True
2    True
3    True
4    True
dtype: bool