In [1]:
import pandas as pd

## 예제 2-4 파일에 저장된 멤버 정보를 읽어와서 확인하기

In [23]:
df_f = pd.read_csv('../data/series_dataframe.csv', 
                   usecols=['Member','Series','DataFrame'],
                   encoding='euc-kr')

In [24]:
df_f.head()

       Member      Series   DataFrame
0           T           T           T
1         abs         abs         abs
2         add         add         add
3  add_prefix  add_prefix  add_prefix
4  add_suffix  add_suffix  add_suffix

In [25]:
df_f.shape

(264, 3)

In [26]:
df_f['Series'].head()

0             T
1           abs
2           add
3    add_prefix
4    add_suffix
Name: Series, dtype: object

In [27]:
df_f['Series'].isnull().sum()

29

In [28]:
df_f['DataFrame'].isnull().sum()

41

In [29]:
(df_f['Member'] == df_f['Series']).head()

0    True
1    True
2    True
3    True
4    True
dtype: bool