## 예제 2-1 : 리스트로 시리즈 생성

In [1]:
import pandas as pd

In [2]:
obj = pd.Series([1,2,3,4])

In [3]:
obj

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
obj.data

In [5]:
obj.data.obj

array([1, 2, 3, 4], dtype=int64)

In [6]:
obj.values

array([1, 2, 3, 4], dtype=int64)

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
obj.dtype

dtype('int64')

## 예제 2-2 : 딕셔너리로 시리즈 생성

In [9]:
d = {'a':1,'b':2,'c':3}
ser = pd.Series(d,name='something')

In [10]:
ser

a    1
b    2
c    3
Name: something, dtype: int64

In [11]:
index = ['a','b','c']

In [12]:
obj1 = pd.Series([1,2,3],index=index,name="test")

In [13]:
obj1

a    1
b    2
c    3
Name: test, dtype: int64

### 예제 2-3 : 넘파이 모듈 이용해서 생성하기

In [14]:
import numpy as np
import pandas as pd

s = pd.Series(np.random.randn(5))

In [15]:
s

0    1.003096
1   -1.563330
2    0.415248
3   -0.186472
4    0.941730
dtype: float64

### 예제 2-4 : 시리즈의 기본 속성 알아보기

In [16]:
obj = pd.Series([1,2,3,4],name="obj")

In [17]:
obj.shape, obj.ndim

((4,), 1)

In [18]:
id(obj.data.obj)

2326632608512

In [19]:
id(obj.values)

2326632608512

In [20]:
obj.blocks

{'int64': 0    1
 1    2
 2    3
 3    4
 Name: obj, dtype: int64}

In [21]:
obj.dtype, obj.itemsize, obj.nbytes

(dtype('int64'), 8, 32)

In [22]:
obj.strides

(8,)

In [23]:
obj_emp = pd.Series()

In [24]:
obj_emp.empty

True

## 예제 2-5 : 시리즈로 데이터프레임 생성

In [25]:
s1 = pd.Series([1,2,3,4],name='s1')
s2 = pd.Series(['a','b','c','d'],name='s2')

In [26]:
df = pd.DataFrame({'s1':s1,'s2':s2})

In [27]:
df

   s1 s2
0   1  a
1   2  b
2   3  c
3   4  d

In [28]:
df['s1']

0    1
1    2
2    3
3    4
Name: s1, dtype: int64

In [29]:
s1 == df['s1']

0    True
1    True
2    True
3    True
Name: s1, dtype: bool

In [30]:
df_a = pd.DataFrame([s1,s2])

In [31]:
df_a

    0  1  2  3
s1  1  2  3  4
s2  a  b  c  d

## 예제 2-6 : 딕셔너리가 원소인 딕셔너리로 데이터프레임 생성

In [32]:
data = {'AAA' : {'a' : 4,'b':5, 'c':6, 'd':7}, 
        'BBB' : {'a': 10, 'b' : 20, 'c':30, 'd': 40},
        'CCC' : {'a':100, 'b': 50, 'c': -30, 'd': -50} }

In [33]:
df = pd.DataFrame(data)

In [34]:
df

   AAA  BBB  CCC
a    4   10  100
b    5   20   50
c    6   30  -30
d    7   40  -50

In [35]:
df2 = pd.DataFrame(data, columns=['AAA','CCC'])

In [36]:
df2

   AAA  CCC
a    4  100
b    5   50
c    6  -30
d    7  -50

## 예제 2-7 : 데이터 프레임의 기본 속성 알아보기

In [37]:
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]
BabyDataSet = list(zip(names,births))

In [38]:
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])

In [39]:
df.values

array([['Bob', 968],
       ['Jessica', 155],
       ['Mary', 77],
       ['John', 578],
       ['Mel', 973]], dtype=object)

In [40]:
df.axes

[RangeIndex(start=0, stop=5, step=1),
 Index(['Names', 'Births'], dtype='object')]

In [41]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [42]:
df.columns

Index(['Names', 'Births'], dtype='object')

In [43]:
df.dtypes

Names     object
Births     int64
dtype: object

In [44]:
df.shape, df.ndim, df.size

((5, 2), 2, 10)