In [1]:
import pandas as pd

## 예제 2-24 데이터프레임 칼럼 추가

In [2]:
movies = pd.read_csv("../data/movies.csv",usecols = ['Film','Year'])

In [3]:
movies.head()

                                 Film  Year
0          Zack and Miri Make a Porno  2008
1                     Youth in Revolt  2010
2  You Will Meet a Tall Dark Stranger  2010
3                        When in Rome  2010
4               What Happens in Vegas  2008

In [4]:
movies_add  = pd.read_csv("../data/movies.csv")

In [5]:
movies_add.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [6]:
movies['has_seen'] = 0

In [7]:
movies.head()

                                 Film  Year  has_seen
0          Zack and Miri Make a Porno  2008         0
1                     Youth in Revolt  2010         0
2  You Will Meet a Tall Dark Stranger  2010         0
3                        When in Rome  2010         0
4               What Happens in Vegas  2008         0

In [8]:
movies_add.columns

Index(['Film', 'Genre', 'Lead Studio', 'Audience score %', 'Profitability',
       'Rotten Tomatoes %', 'Worldwide Gross', 'Year'],
      dtype='object')

In [9]:
movies['has_seen'] = (movies_add['Audience score %'] + movies_add['Rotten Tomatoes %'])// 2

In [10]:
movies.head()

                                 Film  Year  has_seen
0          Zack and Miri Make a Porno  2008        67
1                     Youth in Revolt  2010        60
2  You Will Meet a Tall Dark Stranger  2010        39
3                        When in Rome  2010        29
4               What Happens in Vegas  2008        50

In [11]:
movies['has_seen'].isnull().sum()

0

In [12]:
movies_add['Worldwide Gross'].dtype

dtype('O')

In [13]:
d = movies_add['Worldwide Gross'].str.replace('$','').astype('float64')

In [14]:
movies.columns.get_loc('has_seen')

2

In [15]:
movies.insert(movies.columns.get_loc('has_seen')+1, "원화환산", d * 1200)

In [16]:
movies.head()

                                 Film  Year  has_seen      원화환산
0          Zack and Miri Make a Porno  2008        67   50328.0
1                     Youth in Revolt  2010        60   23544.0
2  You Will Meet a Tall Dark Stranger  2010        39   31992.0
3                        When in Rome  2010        29   51648.0
4               What Happens in Vegas  2008        50  263244.0

## 예제 2-25 시리즈와 데이터프레임 내의 특정 원소 변경

In [17]:
movies.loc[74,'has_seen']

84

In [18]:
import numpy as np

In [19]:
movies.loc[74,'has_seen'] = np.nan

In [20]:
movies.loc[74,'has_seen']

nan

In [21]:
movies['has_seen'].isnull().sum()

1

In [22]:
movies.columns

Index(['Film', 'Year', 'has_seen', '원화환산'], dtype='object')

In [23]:
movies_ser_at = movies['Year']

In [24]:
movies_ser_at.head()

0    2008
1    2010
2    2010
3    2010
4    2008
Name: Year, dtype: int64

In [25]:
movies_ser_at.put(0,2024)

In [26]:
movies_ser_at.get(0)

2024

In [27]:
movies_ser_at.head()

0    2024
1    2010
2    2010
3    2010
4    2008
Name: Year, dtype: int64

## 예제 2-26 시리즈와 데이터프레임의 행과 열 삭제

In [28]:
movies_del =  pd.read_csv("../data/movies.csv")

In [29]:
movies_del.shape

(77, 8)

In [30]:
movies_del.columns

Index(['Film', 'Genre', 'Lead Studio', 'Audience score %', 'Profitability',
       'Rotten Tomatoes %', 'Worldwide Gross', 'Year'],
      dtype='object')

In [31]:
movies_del1 = movies_del.drop('Rotten Tomatoes %', axis=1)

In [32]:
movies_del1.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,$219.37,2008

In [33]:
movies_del1.shape

(77, 7)

In [34]:
movies_del2 = movies_del.drop([1,2,3,4], axis=0)

In [35]:
movies_del2.shape

(73, 8)

In [36]:
movies_del2.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
7,Waitress,Romance,Independent,67,11.089741,89,$22.18,2007
8,Waiting For Forever,Romance,Independent,53,0.005000,6,$0.03,2011

In [37]:
movies_del.shape

(77, 8)

In [38]:
movies_del3 = movies_del.drop(['Lead Studio','Worldwide Gross'], axis=1)

In [39]:
movies_del3.shape

(77, 6)

In [40]:
movies_del3.head()

,Film,Genre,Audience score %,Profitability,Rotten Tomatoes %,Year
0,Zack and Miri Make a Porno,Romance,70,1.747542,64,2008
1,Youth in Revolt,Comedy,52,1.090000,68,2010
2,You Will Meet a Tall Dark Stranger,Comedy,35,1.211818,43,2010
3,When in Rome,Comedy,44,0.000000,15,2010
4,What Happens in Vegas,Comedy,72,6.267647,28,2008

In [41]:
movies_del.drop(['Lead Studio','Worldwide Gross'], axis=1, inplace=True)

In [42]:
movies_del.head()

,Film,Genre,Audience score %,Profitability,Rotten Tomatoes %,Year
0,Zack and Miri Make a Porno,Romance,70,1.747542,64,2008
1,Youth in Revolt,Comedy,52,1.090000,68,2010
2,You Will Meet a Tall Dark Stranger,Comedy,35,1.211818,43,2010
3,When in Rome,Comedy,44,0.000000,15,2010
4,What Happens in Vegas,Comedy,72,6.267647,28,2008

In [43]:
movies_ser = movies_del['Genre']

In [44]:
movies_ser.head()

0    Romance
1     Comedy
2     Comedy
3     Comedy
4     Comedy
Name: Genre, dtype: object

In [45]:
movies_ser.drop([1,2,3,4],inplace=True)

In [46]:
movies_ser.head()

0      Romance
5        Drama
6    Animation
7      Romance
8      Romance
Name: Genre, dtype: object