In [1]:
import pandas as pd

##  예제 4-5 날짜 인덱스 생성 및 속성보기

In [2]:
idx_d = pd.Index(pd.date_range('20130101',periods=3))

In [3]:
idx_d

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03'], dtype='datetime64[ns]', freq='D')

In [4]:
idx_d.values

array(['2013-01-01T00:00:00.000000000', '2013-01-02T00:00:00.000000000',
       '2013-01-03T00:00:00.000000000'], dtype='datetime64[ns]')

In [5]:
idx_d.freq

In [6]:
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04',
                          '2015-07-04', '2015-08-04'])

In [7]:
data = pd.Series([0, 1, 2, 3], index=index)

In [8]:
data

2014-07-04    0
2014-08-04    1
2015-07-04    2
2015-08-04    3
dtype: int64

In [9]:
index

DatetimeIndex(['2014-07-04', '2014-08-04', '2015-07-04', '2015-08-04'], dtype='datetime64[ns]', freq=None)

In [10]:
index.shape

(4,)

In [11]:
index.dtype

dtype('<M8[ns]')

## 예제 4-6 타임에 대한 빈도 이해하기

#### 시간에 대한 코드 

        Y : Year, M: Month, W : Week, D: Day, h:Hour, m: Minute, s : Second
        ms :Millisecond, us : Microsecond, ns : Nanosecond, ps : Picosecond, fs : Femtosecond

In [12]:
dr1 = pd.date_range('2018-07-03', '2018-07-10')

In [13]:
dr1

DatetimeIndex(['2018-07-03', '2018-07-04', '2018-07-05', '2018-07-06',
               '2018-07-07', '2018-07-08', '2018-07-09', '2018-07-10'],
              dtype='datetime64[ns]', freq='D')

In [14]:
dr2 = pd.date_range('2018-07-03', periods=8)

In [15]:
dr2

DatetimeIndex(['2018-07-03', '2018-07-04', '2018-07-05', '2018-07-06',
               '2018-07-07', '2018-07-08', '2018-07-09', '2018-07-10'],
              dtype='datetime64[ns]', freq='D')

In [16]:
dr3 = pd.date_range('2018-08-03', periods=24, freq='H')

In [17]:
dr3

DatetimeIndex(['2018-08-03 00:00:00', '2018-08-03 01:00:00',
               '2018-08-03 02:00:00', '2018-08-03 03:00:00',
               '2018-08-03 04:00:00', '2018-08-03 05:00:00',
               '2018-08-03 06:00:00', '2018-08-03 07:00:00',
               '2018-08-03 08:00:00', '2018-08-03 09:00:00',
               '2018-08-03 10:00:00', '2018-08-03 11:00:00',
               '2018-08-03 12:00:00', '2018-08-03 13:00:00',
               '2018-08-03 14:00:00', '2018-08-03 15:00:00',
               '2018-08-03 16:00:00', '2018-08-03 17:00:00',
               '2018-08-03 18:00:00', '2018-08-03 19:00:00',
               '2018-08-03 20:00:00', '2018-08-03 21:00:00',
               '2018-08-03 22:00:00', '2018-08-03 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [18]:
dr3.to_period('D')

PeriodIndex(['2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03'],
            dtype='period[D]', freq='D')

In [19]:
dr_m = pd.period_range('2018-01', periods=13, freq='M')

In [20]:
dr_m

PeriodIndex(['2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
             '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
             '2019-01'],
            dtype='period[M]', freq='M')

In [21]:
tm_1 = pd.timedelta_range(0, periods=10, freq='H')

In [22]:
tm_1

TimedeltaIndex(['00:00:00', '01:00:00', '02:00:00', '03:00:00', '04:00:00',
                '05:00:00', '06:00:00', '07:00:00', '08:00:00', '09:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [23]:
tm_1 - tm_1[1]

TimedeltaIndex(['-1 days +23:00:00',          '00:00:00',          '01:00:00',
                         '02:00:00',          '03:00:00',          '04:00:00',
                         '05:00:00',          '06:00:00',          '07:00:00',
                         '08:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [24]:
dr2

DatetimeIndex(['2018-07-03', '2018-07-04', '2018-07-05', '2018-07-06',
               '2018-07-07', '2018-07-08', '2018-07-09', '2018-07-10'],
              dtype='datetime64[ns]', freq='D')

In [25]:
dr2 - dr2[0]

TimedeltaIndex(['0 days', '1 days', '2 days', '3 days', '4 days', '5 days',
                '6 days', '7 days'],
               dtype='timedelta64[ns]', freq=None)

###### 분단위로 인덱스 만들기

In [26]:
index = pd.date_range('1/1/2018', periods=9, freq='T')

In [27]:
series = pd.Series(range(9), index=index)

In [28]:
series

2018-01-01 00:00:00    0
2018-01-01 00:01:00    1
2018-01-01 00:02:00    2
2018-01-01 00:03:00    3
2018-01-01 00:04:00    4
2018-01-01 00:05:00    5
2018-01-01 00:06:00    6
2018-01-01 00:07:00    7
2018-01-01 00:08:00    8
Freq: T, dtype: int64

In [29]:
s_3T = series.resample('3T')

In [30]:
s_3T

DatetimeIndexResampler [freq=<3 * Minutes>, axis=0, closed=left, label=left, convention=start, base=0]

In [31]:
s_3T.sum()

2018-01-01 00:00:00     3
2018-01-01 00:03:00    12
2018-01-01 00:06:00    21
Freq: 3T, dtype: int64

## 예제 4-7 날짜 인덱스 활용하기

In [32]:
data = pd.read_csv('../data/hanriver_bridge.csv', index_col='Date', parse_dates=True,encoding='cp949')

In [33]:
data.head()

                     한강 좌측 인도  한강 우측 인도
Date
2012-10-03 00:00:00       4.0       9.0
2012-10-03 01:00:00       4.0       6.0
2012-10-03 02:00:00       1.0       1.0
2012-10-03 03:00:00       2.0       3.0
2012-10-03 04:00:00       6.0       1.0

In [34]:
data.columns

Index(['한강 좌측 인도', '한강 우측 인도'], dtype='object')

In [35]:
data.index

DatetimeIndex(['2012-10-03 00:00:00', '2012-10-03 01:00:00',
               '2012-10-03 02:00:00', '2012-10-03 03:00:00',
               '2012-10-03 04:00:00', '2012-10-03 05:00:00',
               '2012-10-03 06:00:00', '2012-10-03 07:00:00',
               '2012-10-03 08:00:00', '2012-10-03 09:00:00',
               ...
               '2018-05-31 14:00:00', '2018-05-31 15:00:00',
               '2018-05-31 16:00:00', '2018-05-31 17:00:00',
               '2018-05-31 18:00:00', '2018-05-31 19:00:00',
               '2018-05-31 20:00:00', '2018-05-31 21:00:00',
               '2018-05-31 22:00:00', '2018-05-31 23:00:00'],
              dtype='datetime64[ns]', name='Date', length=49608, freq=None)

In [36]:
data.columns=['좌측','우측']

In [37]:
data['합산'] = data.eval('좌측 + 우측')

In [38]:
data.head()

                      좌측   우측    합산
Date
2012-10-03 00:00:00  4.0  9.0  13.0
2012-10-03 01:00:00  4.0  6.0  10.0
2012-10-03 02:00:00  1.0  1.0   2.0
2012-10-03 03:00:00  2.0  3.0   5.0
2012-10-03 04:00:00  6.0  1.0   7.0

In [39]:
data.isnull().sum()

좌측    8
우측    8
합산    8
dtype: int64

In [40]:
data.shape

(49608, 3)

In [41]:
data_dp = data.dropna()

In [42]:
data_dp.shape

(49600, 3)

In [43]:
daily = data.resample('D').sum()

In [44]:
daily.head()

                좌측      우측      합산
Date
2012-10-03  1760.0  1761.0  3521.0
2012-10-04  1708.0  1767.0  3475.0
2012-10-05  1558.0  1590.0  3148.0
2012-10-06  1080.0   926.0  2006.0
2012-10-07  1191.0   951.0  2142.0

In [45]:
weekly_r = data.resample('W').mean()

In [46]:
weekly_r.head()

                   좌측         우측          합산
Date
2012-10-07  60.808333  58.291667  119.100000
2012-10-14  51.660714  48.309524   99.970238
2012-10-21  47.297619  45.017857   92.315476
2012-10-28  41.077381  38.904762   79.982143
2012-11-04  38.142857  34.440476   72.583333

In [47]:
weekly_f = data.asfreq('W')

In [48]:
weekly_f.head()

             좌측    우측    합산
Date
2012-10-07  6.0   5.0  11.0
2012-10-14  3.0   3.0   6.0
2012-10-21  5.0  12.0  17.0
2012-10-28  5.0   5.0  10.0
2012-11-04  7.0  11.0  18.0

In [49]:
data.loc['2012-10-07'].head()

                       좌측   우측    합산
Date
2012-10-07 00:00:00   6.0  5.0  11.0
2012-10-07 01:00:00  12.0  5.0  17.0
2012-10-07 02:00:00   2.0  1.0   3.0
2012-10-07 03:00:00   4.0  2.0   6.0
2012-10-07 04:00:00   1.0  2.0   3.0

## 예제 4-8 범주형 인덱스 활용하기

In [51]:
inx_i = pd.CategoricalIndex([1,2,3])

In [52]:
s = pd.Series([1,2,3],index=inx_i)