In [3]:
import pandas as pd

## 예제 4-9 멀티인덱스 생성

In [4]:
import numpy as np

In [1]:
ind = [("서울", 2017), ("경기도",2017)]

In [5]:
si = pd.Series(np.random.randint(1,10,2),index=ind)

In [6]:
si

(서울, 2017)     2
(경기도, 2017)    3
dtype: int32

In [11]:
si.index

Index([('서울', 2017), ('경기도', 2017)], dtype='object')

In [8]:
try :
    si['서울']
except Exception as e :
    print(e)

'서울'

In [12]:
 si['서울',2017]

2

In [13]:
si[('서울',2017)]

2

In [7]:
index = pd.MultiIndex.from_tuples(ind)

In [14]:
index

MultiIndex(levels=[['경기도', '서울'], [2017]],
           labels=[[1, 0], [0, 0]])

In [17]:
s = pd.Series(np.random.randint(1,10,2),index=index)

In [18]:
s

서울   2017    9
경기도  2017    6
dtype: int32

In [19]:
s['서울']

2017    9
dtype: int32

In [20]:
s['서울',2017]

9

In [21]:
s[('서울',2017)]

9

In [10]:
import numpy as np

In [22]:
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
          np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]

In [23]:
s = pd.Series(np.random.randn(8), index=arrays)

In [24]:
s

bar  one   -0.199608
     two    0.131683
baz  one    0.511020
     two   -0.910917
foo  one   -0.791411
     two   -0.980544
qux  one   -1.201913
     two   -1.043161
dtype: float64

In [25]:
s.index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]])

In [19]:
iterables = [['bar', 'baz', 'foo', 'qux'], ['one', 'two']]

In [26]:
arrays2 = pd.MultiIndex.from_product(iterables, names=['first', 'second'])

In [28]:
arrays2

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [31]:
s2 = pd.Series(np.random.randn(8), index=arrays2)

In [32]:
s2

first  second
bar    one       0.576905
       two      -2.049161
baz    one      -0.653860
       two       1.557383
foo    one      -0.338062
       two       0.315282
qux    one      -1.026121
       two       0.452867
dtype: float64

In [25]:
index = [('서울',2008),('서울',2010),('부산',2008),('부산',2010), ('인천',2008),('인천',2010)]

In [26]:
mul_index = pd.MultiIndex.from_tuples(index)

In [27]:
mul_index

MultiIndex(levels=[['부산', '서울', '인천'], [2008, 2010]],
           labels=[[1, 1, 0, 0, 2, 2], [0, 1, 0, 1, 0, 1]])

In [28]:
mul_index.values

array([('서울', 2008), ('서울', 2010), ('부산', 2008), ('부산', 2010),
       ('인천', 2008), ('인천', 2010)], dtype=object)

In [29]:
mul_index.value_counts()

(부산, 2008)    1
(서울, 2010)    1
(인천, 2008)    1
(서울, 2008)    1
(부산, 2010)    1
(인천, 2010)    1
dtype: int64

In [30]:
mul_index.levels

FrozenList([['부산', '서울', '인천'], [2008, 2010]])

In [9]:
mul_index.labels

FrozenList([[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

## 예제 4-10 멀티인덱스를 이용한 시리즈 활용

In [35]:
populations = [ 30000,37000, 18970, 19370, 20850, 25140]

In [36]:
pop = pd.Series(populations, index=mul_index)

In [37]:
pop

서울  2008    30000
    2010    37000
부산  2008    18970
    2010    19370
인천  2008    20850
    2010    25140
dtype: int64

In [39]:
pop['서울']

2008    30000
2010    37000
dtype: int64

In [41]:
pop['서울',2008]

30000

In [42]:
pop[:, 2010]

서울    37000
부산    19370
인천    25140
dtype: int64

In [44]:
try :
    pop["서울" : "인천"]
except Exception as e :
    print(e)

'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [49]:
pop = pop.sort_index()

In [50]:
pop["서울" : "인천"]

시   년도
서울  2008    30000
    2010    37000
인천  2008    20850
    2010    25140
dtype: int64

In [45]:
pop.index.names = ['시','년도']

In [46]:
pop

시   년도
서울  2008    30000
    2010    37000
부산  2008    18970
    2010    19370
인천  2008    20850
    2010    25140
dtype: int64

## 예제 4-11 멀티인덱스를 이용한 데이터프레임  활용

In [65]:
r_inx = pd.MultiIndex.from_product([[2017,2018],[1,2]], names=['년도','과제점수'])

In [66]:
r_inx

MultiIndex(levels=[[2017, 2018], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['년도', '과제점수'])

In [67]:
c_inx = pd.MultiIndex.from_product([['철수','영희','지원'],['컴공','경제']], names=['학생','학과'])

In [68]:
c_inx

MultiIndex(levels=[['영희', '지원', '철수'], ['경제', '컴공']],
           labels=[[2, 2, 0, 0, 1, 1], [1, 0, 1, 0, 1, 0]],
           names=['학생', '학과'])

In [69]:
import numpy as np

In [77]:
data = np.round(np.abs(np.random.randn(4,6)),1)

In [78]:
data

array([[0.8, 0.2, 1.5, 0.8, 1.1, 0.7],
       [0.7, 1.6, 0.5, 0.4, 0.3, 0. ],
       [0.4, 0.8, 0.1, 0.4, 2.5, 0.5],
       [0.3, 1.5, 1.1, 0.7, 1.5, 0.8]])

In [79]:
health_data = pd.DataFrame(data, index=r_inx, columns=c_inx)

In [80]:
health_data

학생          철수        영희        지원
학과          컴공   경제   컴공   경제   컴공   경제
년도   과제점수
2017 1     0.8  0.2  1.5  0.8  1.1  0.7
     2     0.7  1.6  0.5  0.4  0.3  0.0
2018 1     0.4  0.8  0.1  0.4  2.5  0.5
     2     0.3  1.5  1.1  0.7  1.5  0.8

In [81]:
health_data.index

MultiIndex(levels=[[2017, 2018], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['년도', '과제점수'])

In [82]:
health_data.columns

MultiIndex(levels=[['영희', '지원', '철수'], ['경제', '컴공']],
           labels=[[2, 2, 0, 0, 1, 1], [1, 0, 1, 0, 1, 0]],
           names=['학생', '학과'])

In [96]:
health_data.index[0]

(2017, 1)

In [97]:
health_data.index[1]

(2017, 2)

In [100]:
health_data.index.names[0]

'년도'

In [101]:
health_data.index.names[1]

'과제점수'

In [83]:
health_data.values

array([[0.8, 0.2, 1.5, 0.8, 1.1, 0.7],
       [0.7, 1.6, 0.5, 0.4, 0.3, 0. ],
       [0.4, 0.8, 0.1, 0.4, 2.5, 0.5],
       [0.3, 1.5, 1.1, 0.7, 1.5, 0.8]])

In [84]:
health_data['지원']

학과          컴공   경제
년도   과제점수
2017 1     1.1  0.7
     2     0.3  0.0
2018 1     2.5  0.5
     2     1.5  0.8

In [85]:
health_data['지원','컴공']

년도    과제점수
2017  1       1.1
      2       0.3
2018  1       2.5
      2       1.5
Name: (지원, 컴공), dtype: float64

In [87]:
health_data.loc[:, ('지원','컴공')]

년도    과제점수
2017  1       1.1
      2       0.3
2018  1       2.5
      2       1.5
Name: (지원, 컴공), dtype: float64

#### 멀티 인덱스를 사용할 경우 pd.IndexSlice를 사용해서 슬라이스를 만들어서 처리

       . loc[ 행, 열] 로 표시하므로 멀티 인덱스 자체가 행과 열을 구성
       . 멀티 인덱스 내의 특정 정보를 가져오려고 해도 슬라이스로 처리가 필요

In [104]:
try :
    health_data.loc[:2018, '철수':'영희']
except Exception as e :
    print(e)

'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [106]:
health_data = health_data.sort_index(axis=1)

In [108]:
health_data

학생          영희        지원        철수
학과          경제   컴공   경제   컴공   경제   컴공
년도   과제점수
2017 1     0.8  1.5  0.7  1.1  0.2  0.8
     2     0.4  0.5  0.0  0.3  1.6  0.7
2018 1     0.4  0.1  0.5  2.5  0.8  0.4
     2     0.7  1.1  0.8  1.5  1.5  0.3

In [110]:
health_data.loc[:2018, '영희':'지원']

학생          영희        지원
학과          경제   컴공   경제   컴공
년도   과제점수
2017 1     0.8  1.5  0.7  1.1
     2     0.4  0.5  0.0  0.3
2018 1     0.4  0.1  0.5  2.5
     2     0.7  1.1  0.8  1.5

In [111]:
health_data.loc[pd.IndexSlice[:,1], pd.IndexSlice[:, '컴공']]

학생          영희   지원   철수
학과          컴공   컴공   컴공
년도   과제점수
2017 1     1.5  1.1  0.8
2018 1     0.1  2.5  0.4