In [1]:
import pandas as pd

## 예제 5-15 wide_to_long 처리

In [121]:
df_new = pd.DataFrame({'구분': ['가', '나', '다', '라', '마'],
                       '년도': [2013, 2014, 2016, 2013, 2014],
                       '측정값1': [100, 245, 200, 200, 300],
                       '측정값2': [100, 245, 200, 200, 300]})

In [122]:
df_new

  구분    년도  측정값1  측정값2
0  가  2013   100   100
1  나  2014   245   245
2  다  2016   200   200
3  라  2013   200   200
4  마  2014   300   300

In [123]:
wl = pd.wide_to_long(df_new, ['측정값'],i=['구분','년도'], j='측정값구분')

In [132]:
type(wl)

pandas.core.frame.DataFrame

In [124]:
wl

               측정값
구분 년도   측정값구분
가  2013 1      100
        2      100
나  2014 1      245
        2      245
다  2016 1      200
        2      200
라  2013 1      200
        2      200
마  2014 1      300
        2      300

In [126]:
wl_t = wl.unstack()

In [127]:
wl_t

         측정값
측정값구분      1    2
구분 년도
가  2013  100  100
나  2014  245  245
다  2016  200  200
라  2013  200  200
마  2014  300  300

In [128]:
wl_t.index

MultiIndex(levels=[['가', '나', '다', '라', '마'], [2013, 2014, 2016]],
           labels=[[0, 1, 2, 3, 4], [0, 1, 2, 0, 1]],
           names=['구분', '년도'])

In [129]:
wl_t.columns

MultiIndex(levels=[['측정값'], [1, 2]],
           labels=[[0, 0], [0, 1]],
           names=[None, '측정값구분'])

In [130]:
wl_t.columns = wl_t.columns.map('{0[0]}{0[1]}'.format)

In [131]:
wl_t

         측정값1  측정값2
구분 년도
가  2013   100   100
나  2014   245   245
다  2016   200   200
라  2013   200   200
마  2014   300   300

In [135]:
wl_t.reset_index()

  구분    년도  측정값1  측정값2
0  가  2013   100   100
1  나  2014   245   245
2  다  2016   200   200
3  라  2013   200   200
4  마  2014   300   300

## 예제 5-16 wide_to_long 으로 여러 중복열 처리

In [14]:
import numpy as np

In [15]:
np.random.seed(123)

In [136]:
df = pd.DataFrame({"가수1970" : {0 : "남진", 1 : "나훈아", 2 : "문주란"},
                  "가수1980" : {0 : "전영록", 1 : "이용", 2 : "민혜경"},
                  "판매량1970" : {0 : 2.5, 1 : 1.2, 2 : .7},
                  "판매량1980" : {0 : 3.2, 1 : 1.3, 2 : .1},
                  "X"     : dict(zip(range(3), np.random.randn(3)))
                   })

In [137]:
df["id"] = df.index

In [138]:
df

  가수1970 가수1980  판매량1970  판매량1980         X  id
0     남진    전영록      2.5      3.2 -2.426679   0
1    나훈아     이용      1.2      1.3 -0.428913   1
2    문주란    민혜경      0.7      0.1  1.265936   2

In [140]:
가수판매량 = pd.wide_to_long(df, ["가수", "판매량"], i="id", j="년도")

In [141]:
가수판매량

                X   가수  판매량
id 년도
0  1970 -2.426679   남진  2.5
1  1970 -0.428913  나훈아  1.2
2  1970  1.265936  문주란  0.7
0  1980 -2.426679  전영록  3.2
1  1980 -0.428913   이용  1.3
2  1980  1.265936  민혜경  0.1

In [142]:
가수판매량.index

MultiIndex(levels=[[0, 1, 2], [1970, 1980]],
           labels=[[0, 1, 2, 0, 1, 2], [0, 0, 0, 1, 1, 1]],
           names=['id', '년도'])

In [143]:
가수판매량.columns

Index(['X', '가수', '판매량'], dtype='object')

In [149]:
가수판매량_un = 가수판매량.unstack()

In [150]:
가수판매량_un.columns

MultiIndex(levels=[['X', '가수', '판매량'], [1970, 1980]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]],
           names=[None, '년도'])

In [151]:
가수판매량_un.columns = 가수판매량_un.columns.map('{0[0]}{0[1]}'.format)

In [152]:
가수판매량_un

       X1970     X1980 가수1970 가수1980  판매량1970  판매량1980
id
0  -2.426679 -2.426679     남진    전영록      2.5      3.2
1  -0.428913 -0.428913    나훈아     이용      1.2      1.3
2   1.265936  1.265936    문주란    민혜경      0.7      0.1

In [155]:
가수판매량_un =가수판매량_un.reset_index()

In [156]:
가수판매량_un = 가수판매량_un.drop(['id','X1980'],axis=1)

In [157]:
가수판매량_un.rename(index=str, columns={"X1970": "X"},inplace=True)

In [162]:
가수판매량_un.sort_index(axis=1,ascending=False)

   판매량1980  판매량1970 가수1980 가수1970         X
0      3.2      2.5    전영록     남진 -2.426679
1      1.3      1.2     이용    나훈아 -0.428913
2      0.1      0.7    민혜경    문주란  1.265936