In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
%matplotlib inline

## 1. 파이썬 datetime 모듈

In [5]:
import datetime

In [6]:
date = datetime.date(2018,9,29)

In [7]:
date

datetime.date(2018, 9, 29)

In [8]:
time = datetime.time(12,30,19,463198)

In [9]:
time

datetime.time(12, 30, 19, 463198)

In [10]:
dt = datetime.datetime(2018,9,29,12,30,19,463198)

In [11]:
dt

datetime.datetime(2018, 9, 29, 12, 30, 19, 463198)

In [12]:
td = datetime.timedelta(weeks=2, days=5, hours=10, minutes=20, seconds=6.73, milliseconds=99, microseconds=8)

In [13]:
td

datetime.timedelta(19, 37206, 829008)

In [14]:
date + td

datetime.date(2018, 10, 18)

### time은 더할 수 없다

In [15]:
try :
    time + td
except Exception as e :
    print(e)

unsupported operand type(s) for +: 'datetime.time' and 'datetime.timedelta'

## 2 Pandas  날짜 처리

      유닉스 탄생 시각인 1970년 1월 1일부터 시각을 나노초로 전달
      
      
   
        Timestamp  : to_datetime, Timestamp
                Represents a single timestamp	
        DatetimeIndex	: to_datetime, date_range, bdate_range, DatetimeIndex
                 Index of Timestamp	
        Period	 :  Period
                Represents a single time span	
        PeriodIndex	: period_range, PeriodIndex
                 Index of Period

### Timestamp


      ts_input 유형이 int 또는 float 인 경우 변환에 사용되는 단위입니다. 
      
      유효한 값은 'D', 'h', 'm', 's', 'ms', 'ns'입니다. 예를 들어 's'는 초를 의미하고 'ms'는 밀리 초를 의미합니다.

In [16]:
pd.Timestamp(0)

Timestamp('1970-01-01 00:00:00')

In [17]:
pd.Timestamp(17800, unit='D')

Timestamp('2018-09-26 00:00:00')

In [18]:
pd.Timestamp(17800, unit='h')

Timestamp('1972-01-12 16:00:00')

In [19]:
pd.Timestamp(17800, unit='m')

Timestamp('1970-01-13 08:40:00')

In [20]:
pd.Timestamp(17800, unit='s')

Timestamp('1970-01-01 04:56:40')

In [21]:
pd.Timestamp(17800, unit='ms')

Timestamp('1970-01-01 00:00:17.800000')

In [22]:
pd.Timestamp(17800, unit='us')

Timestamp('1970-01-01 00:00:00.017800')

In [23]:
pd.Timestamp(17800, unit='ns')

Timestamp('1970-01-01 00:00:00.000017800')

In [24]:
pd.Timestamp(year=2017, month=1, day=1, hour=12)

Timestamp('2017-01-01 12:00:00')

### to_datetime


      arg : integer, float, string, datetime, list, tuple, 1-d array, Series

    errors : {‘ignore’, ‘raise’, ‘coerce’}, default ‘raise’

        If ‘raise’, then invalid parsing will raise an exception
        If ‘coerce’, then invalid parsing will be set as NaT
        If ‘ignore’, then invalid parsing will return the input
      
      dayfirst : boolean, default False

         Specify a date parse order if arg is str or its list-likes. If True, parses dates with the day first, eg 10/11/12 is parsed as 2012-11-10. Warning: dayfirst=True is not strict, but will prefer to parse with day first (this is a known bug, based on dateutil behavior).

    yearfirst : boolean, default False

            Specify a date parse order if arg is str or its list-likes.

            If True parses dates with the year first, eg 10/11/12 is parsed as 2010-11-12.
              If both dayfirst and yearfirst are True, yearfirst is preceded (same as dateutil).
            Warning: yearfirst=True is not strict, but will prefer to parse with year first (this is a known bug, based on dateutil beahavior).

    utc : boolean, default None

            Return UTC DatetimeIndex if True (converting any tz-aware datetime.datetime objects as well).

    box : boolean, default True

        If True returns a DatetimeIndex
        If False returns ndarray of values.
        
    format : string, default None

        strftime to parse time, eg “%d/%m/%Y”, note that “%f” will parse all the way up to nanoseconds.

    exact : boolean, True by default

        If True, require an exact format match.
        If False, allow the format to match anywhere in the target string.
        
    unit : string, default ‘ns’

          unit of the arg (D,s,ms,us,ns) denote the unit, which is an integer or float number. This will be based off the origin. 
          Example, with unit=’ms’ and origin=’unix’ (the default), this would calculate the number of milliseconds to the unix epoch start.

    infer_datetime_format : boolean, default False

        If True and no format is given, attempt to infer the format of the datetime strings, and if it can be inferred, 
        switch to a faster method of parsing them. In some cases this can increase the parsing speed by ~5-10x.

    origin : scalar, default is ‘unix’

        Define the reference date. The numeric values would be parsed as number of units 
        (defined by unit) since this reference date.

            If ‘unix’ (or POSIX) time; origin is set to 1970-01-01.
            If ‘julian’, unit must be ‘D’, and origin is set to beginning of Julian Calendar. 
            Julian day number 0 is assigned to the day starting at noon on January 1, 4713 BC.
            If Timestamp convertible, origin is set to Timestamp identified by origin.

In [25]:
pd.to_datetime('2018-09-29')

Timestamp('2018-09-29 00:00:00')

In [26]:
pd.to_datetime('2018-29-09', dayfirst=True)

Timestamp('2018-09-29 00:00:00')

In [27]:
pd.to_datetime(271, unit='D', origin='2018-01-01')

Timestamp('2018-09-29 00:00:00')

In [28]:
s = pd.Series([10,100,100,1000,10000])

In [29]:
pd.to_datetime(s,unit='D')

0   1970-01-11
1   1970-04-11
2   1970-04-11
3   1972-09-27
4   1997-05-19
dtype: datetime64[ns]

In [30]:
df = pd.DataFrame({'year': [2015, 2016],
                       'month': [2, 3],
                       'day': [4, 5]})
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [31]:
s1 = pd.Series(['09-05-2018', '09/05/2018', '2018-09-01','40/23/2018'])

### 예외처리

#### 날짜가 타임 스탬프 제한을 충족시키지 않으면 errors = 'ignore'를 전달하면 예외를 발생시키는 대신 원래 입력을 반환합니다.

In [32]:
pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')

datetime.datetime(1300, 1, 1, 0, 0)

#### 합격 오류 = '강요'는 NaT에 날짜가 틀린 날짜 (또는 분석 할 수없는 날짜)를 강요하는 것 외에도 NaT에 대한 경계 날짜를 강제합니다.

In [33]:
pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')

NaT

In [34]:
pd.to_datetime(s1,dayfirst=True, errors='coerce')

0   2018-05-09
1   2018-05-09
2   2018-09-01
3          NaT
dtype: datetime64[ns]

### 리스트로 들어오면 DatetimeIndex로 변환

In [35]:
pd.to_datetime(['Aug 3 2018 3:45:56','10/31/2018'])

DatetimeIndex(['2018-08-03 03:45:56', '2018-10-31 00:00:00'], dtype='datetime64[ns]', freq=None)

### 데이터 포맷팅 처리

In [36]:
pd.to_datetime('2010/11/12', format='%Y/%m/%d')

Timestamp('2010-11-12 00:00:00')

In [37]:
pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')

Timestamp('2010-11-12 00:00:00')

In [38]:
s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000']*1000)

In [39]:
s.head()

0    3/11/2000
1    3/12/2000
2    3/13/2000
3    3/11/2000
4    3/12/2000
dtype: object

#### infer_datetime_format

    True 및 형식이 지정되지 않은 경우 datetime 문자열의 형식을 유추하여 유추 할 수있는 경우 빠른 구문 분석 방법으로 전환하십시오.
    경우에 따라 파싱 속도를 ~ 5-10x 높일 수 있습니다.

In [40]:
%timeit pd.to_datetime(s,infer_datetime_format=True)

8.73 ms ± 447 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [41]:
sdt = pd.to_datetime(s,infer_datetime_format=True)

In [42]:
sdt.head()

0   2000-03-11
1   2000-03-12
2   2000-03-13
3   2000-03-11
4   2000-03-12
dtype: datetime64[ns]

In [43]:
%timeit pd.to_datetime(s,infer_datetime_format=False)

287 ms ± 18.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [44]:
sdt2 = pd.to_datetime(s,infer_datetime_format=False)

In [45]:
sdt2.head()

0   2000-03-11
1   2000-03-12
2   2000-03-13
3   2000-03-11
4   2000-03-12
dtype: datetime64[ns]

### Aliases for Time Series frequencies

    B, BM : 영업일, 영업 월을 나타냅니다. 이들은 일하고있다.
        휴일 또는 주말이 아닌 모든 날.
    • D, W, M, Q, A : 달력 일, 주, 월, 분기, 연말을 나타냅니다.
    • H, T, S, L, U : 시간, 분, 초, 밀리 세컨드를 나타냅니다.
        마이크로 초.

### Period and PeriodIndex

In [46]:
 pd.Period('2014', freq='A-MAY')

Period('2014', 'A-MAY')

In [47]:
 pd.Period('06/11/2014')

Period('2014-06-11', 'D')

In [48]:
 pd.Period('11/11/1918 11:00',freq='H')

Period('1918-11-11 11:00', 'H')

In [49]:
 pd.Period('06/30/2014')+4

Period('2014-07-04', 'D')

In [50]:
 pd.Period('11/11/1918 11:00',freq='H') - 48

Period('1918-11-09 11:00', 'H')

In [51]:
pd.Period('2014-04', freq='M')-pd.Period('2013-02', freq='M')

14

In [52]:
perRng=pd.period_range('02/01/2014','02/06/2014',freq='D')

In [53]:
perRng

PeriodIndex(['2014-02-01', '2014-02-02', '2014-02-03', '2014-02-04',
             '2014-02-05', '2014-02-06'],
            dtype='period[D]', freq='D')

In [54]:
type(perRng[:2])

pandas.core.indexes.period.PeriodIndex

In [55]:
 JulyPeriod=pd.PeriodIndex(['07/01/2014','07/31/2014'],freq='D')

In [56]:
 JulyPeriod

PeriodIndex(['2014-07-01', '2014-07-31'], dtype='period[D]', freq='D')

In [57]:
worldCupFinal=pd.to_datetime('07/13/2014', errors='raise')

In [58]:
worldCupFinal

Timestamp('2014-07-13 00:00:00')

In [59]:
worldCupFinal.to_period('D')

Period('2014-07-13', 'D')

In [60]:
worldCupFinal

Timestamp('2014-07-13 00:00:00')

In [61]:
worldCupKickoff=pd.Period('06/12/2014','D')

In [62]:
 worldCupKickoff.to_timestamp()

Timestamp('2014-06-12 00:00:00')

In [63]:
 worldCupDays=pd.date_range('06/12/2014',periods=32, freq='D')

In [64]:
worldCupDays

DatetimeIndex(['2014-06-12', '2014-06-13', '2014-06-14', '2014-06-15',
               '2014-06-16', '2014-06-17', '2014-06-18', '2014-06-19',
               '2014-06-20', '2014-06-21', '2014-06-22', '2014-06-23',
               '2014-06-24', '2014-06-25', '2014-06-26', '2014-06-27',
               '2014-06-28', '2014-06-29', '2014-06-30', '2014-07-01',
               '2014-07-02', '2014-07-03', '2014-07-04', '2014-07-05',
               '2014-07-06', '2014-07-07', '2014-07-08', '2014-07-09',
               '2014-07-10', '2014-07-11', '2014-07-12', '2014-07-13'],
              dtype='datetime64[ns]', freq='D')

In [65]:
 worldCupDays.to_period()

PeriodIndex(['2014-06-12', '2014-06-13', '2014-06-14', '2014-06-15',
             '2014-06-16', '2014-06-17', '2014-06-18', '2014-06-19',
             '2014-06-20', '2014-06-21', '2014-06-22', '2014-06-23',
             '2014-06-24', '2014-06-25', '2014-06-26', '2014-06-27',
             '2014-06-28', '2014-06-29', '2014-06-30', '2014-07-01',
             '2014-07-02', '2014-07-03', '2014-07-04', '2014-07-05',
             '2014-07-06', '2014-07-07', '2014-07-08', '2014-07-09',
             '2014-07-10', '2014-07-11', '2014-07-12', '2014-07-13'],
            dtype='period[D]', freq='D')