In [1]:
import pandas as pd

### 참조 자료

        https://tomaugspurger.github.io/modern-5-tidy

##  예제 10-1 데이터 알아보기

In [2]:
tables = pd.read_html("http://www.basketball-reference.com/leagues/NBA_2018_games.html")

In [3]:
type(tables)

list

In [4]:
type(tables[0])

pandas.core.frame.DataFrame

In [5]:
games = tables[0]

In [6]:
games.to_csv("../data/nav_2018.csv")

In [7]:
import chardet

In [8]:
def find_encoding(fname):
    r_file = open(fname, 'rb').read()
    result = chardet.detect(r_file)
    charenc = result['encoding']
    return charenc

In [9]:
my_encoding1 = find_encoding('../data/nav_2018.csv')

In [10]:
df_1 = pd.read_csv('../data/nav_2018.csv', encoding=my_encoding1)

In [11]:
my_encoding1

'utf-8'

In [12]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 10 columns):
Date               104 non-null object
Start (ET)         104 non-null object
Visitor/Neutral    104 non-null object
PTS                104 non-null int64
Home/Neutral       104 non-null object
PTS.1              104 non-null int64
                   104 non-null object
 .1                2 non-null object
Attend.            104 non-null int64
Notes              0 non-null float64
dtypes: float64(1), int64(3), object(6)
memory usage: 8.2+ KB

In [13]:
games.shape

(104, 10)

In [14]:
games.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,,.1,Attend.,Notes
0,"Tue, Oct 17, 2017",8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,NaN
1,"Tue, Oct 17, 2017",10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,NaN
2,"Wed, Oct 18, 2017",7:30p,Milwaukee Bucks,108,Boston Celtics,100,Box Score,NaN,18624,NaN
3,"Wed, Oct 18, 2017",8:30p,Atlanta Hawks,117,Dallas Mavericks,111,Box Score,NaN,19709,NaN
4,"Wed, Oct 18, 2017",7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,NaN

In [15]:
games['Attend.'].head()

0    20562
1    19596
2    18624
3    19709
4    20491
Name: Attend., dtype: int64

In [16]:
games[['Attend.']].head()

   Attend.
0    20562
1    19596
2    18624
3    19709
4    20491

## 예제 10-2 데이터 자료형 및 이름 맞추기

In [17]:
games.columns

Index(['Date', 'Start (ET)', 'Visitor/Neutral', 'PTS', 'Home/Neutral', 'PTS.1',
       ' ', ' .1', 'Attend.', 'Notes'],
      dtype='object')

In [18]:
games.columns[6]

'\xa0'

In [19]:
games.columns[7]

'\xa0.1'

In [20]:
column_names = {'Date': '경기일자', 'Start (ET)': 'start',
                'Visitor/Neutral': '방문팀', 
                'PTS': '방문팀점수', 'Home/Neutral': '홈팀',
                'PTS.1': '홈팀점수', '\xa0' : 'Box', 'Attend.':'관중수','\xa0.1': 'n_ot'}

In [21]:
games.rename(columns=column_names).head()

,경기일자,start,방문팀,방문팀점수,홈팀,홈팀점수,Box,n_ot,관중수,Notes
0,"Tue, Oct 17, 2017",8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,NaN
1,"Tue, Oct 17, 2017",10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,NaN
2,"Wed, Oct 18, 2017",7:30p,Milwaukee Bucks,108,Boston Celtics,100,Box Score,NaN,18624,NaN
3,"Wed, Oct 18, 2017",8:30p,Atlanta Hawks,117,Dallas Mavericks,111,Box Score,NaN,19709,NaN
4,"Wed, Oct 18, 2017",7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,NaN

In [22]:
games = games.rename(columns=column_names)

In [23]:
games.columns

Index(['경기일자', 'start', '방문팀', '방문팀점수', '홈팀', '홈팀점수', 'Box', 'n_ot', '관중수',
       'Notes'],
      dtype='object')

In [24]:
games.head()

,경기일자,start,방문팀,방문팀점수,홈팀,홈팀점수,Box,n_ot,관중수,Notes
0,"Tue, Oct 17, 2017",8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,NaN
1,"Tue, Oct 17, 2017",10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,NaN
2,"Wed, Oct 18, 2017",7:30p,Milwaukee Bucks,108,Boston Celtics,100,Box Score,NaN,18624,NaN
3,"Wed, Oct 18, 2017",8:30p,Atlanta Hawks,117,Dallas Mavericks,111,Box Score,NaN,19709,NaN
4,"Wed, Oct 18, 2017",7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,NaN

In [25]:
games['경기일자'].dtype

dtype('O')

In [26]:
a_g = games.assign(경기일자=lambda x: pd.to_datetime(x['경기일자'], format='%a, %b %d, %Y'))

In [27]:
a_g.head()

,경기일자,start,방문팀,방문팀점수,홈팀,홈팀점수,Box,n_ot,관중수,Notes
0,2017-10-17,8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,NaN
1,2017-10-17,10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,NaN
2,2017-10-18,7:30p,Milwaukee Bucks,108,Boston Celtics,100,Box Score,NaN,18624,NaN
3,2017-10-18,8:30p,Atlanta Hawks,117,Dallas Mavericks,111,Box Score,NaN,19709,NaN
4,2017-10-18,7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,NaN

In [28]:
games_ = a_g.copy()

In [29]:
games_.shape

(104, 10)

In [30]:
games_.경기일자.dtype

dtype('<M8[ns]')

In [31]:
print(games_.경기일자.dtype)

datetime64[ns]

## 예제 10-3 초기값 및 결측데이터 정리하기

In [32]:
games_.isnull().sum()

경기일자       0
start      0
방문팀        0
방문팀점수      0
홈팀         0
홈팀점수       0
Box        0
n_ot     102
관중수        0
Notes    104
dtype: int64

In [33]:
games_[games_['n_ot'].notnull()]

,경기일자,start,방문팀,방문팀점수,홈팀,홈팀점수,Box,n_ot,관중수,Notes
59,2017-10-25,10:30p,Washington Wizards,99,Los Angeles Lakers,102,Box Score,OT,18996,NaN
95,2017-10-30,7:30p,Minnesota Timberwolves,125,Miami Heat,122,Box Score,OT,19600,NaN

In [34]:
games_['n_ot'].fillna('NOT',inplace=True)

In [35]:
games_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 10 columns):
경기일자     104 non-null datetime64[ns]
start    104 non-null object
방문팀      104 non-null object
방문팀점수    104 non-null int64
홈팀       104 non-null object
홈팀점수     104 non-null int64
Box      104 non-null object
n_ot     104 non-null object
관중수      104 non-null int64
Notes    0 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(5)
memory usage: 8.2+ KB

In [36]:
games_na = games_.dropna(axis=1)

In [37]:
games_na.head()

,경기일자,start,방문팀,방문팀점수,홈팀,홈팀점수,Box,n_ot,관중수
0,2017-10-17,8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NOT,20562
1,2017-10-17,10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NOT,19596
2,2017-10-18,7:30p,Milwaukee Bucks,108,Boston Celtics,100,Box Score,NOT,18624
3,2017-10-18,8:30p,Atlanta Hawks,117,Dallas Mavericks,111,Box Score,NOT,19709
4,2017-10-18,7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NOT,20491

In [38]:
games_na.shape

(104, 9)

## 예제 10-4 필요 열만 추출해서 정리하기

In [39]:
games_nae = games_na[['경기일자', '방문팀', '방문팀점수', '홈팀', '홈팀점수']]

In [40]:
games_nae.columns

Index(['경기일자', '방문팀', '방문팀점수', '홈팀', '홈팀점수'], dtype='object')

In [41]:
games_nae.head()

        경기일자                방문팀  방문팀점수                     홈팀  홈팀점수
0 2017-10-17     Boston Celtics     99    Cleveland Cavaliers   102
1 2017-10-17    Houston Rockets    122  Golden State Warriors   121
2 2017-10-18    Milwaukee Bucks    108         Boston Celtics   100
3 2017-10-18      Atlanta Hawks    117       Dallas Mavericks   111
4 2017-10-18  Charlotte Hornets     90        Detroit Pistons   102

In [42]:
games_naes = games_nae.set_index('경기일자',append=True)

In [43]:
games_naes.head()

                            방문팀  방문팀점수                     홈팀  홈팀점수
  경기일자
0 2017-10-17     Boston Celtics     99    Cleveland Cavaliers   102
1 2017-10-17    Houston Rockets    122  Golden State Warriors   121
2 2017-10-18    Milwaukee Bucks    108         Boston Celtics   100
3 2017-10-18      Atlanta Hawks    117       Dallas Mavericks   111
4 2017-10-18  Charlotte Hornets     90        Detroit Pistons   102

In [44]:
games_naesr = games_naes.rename_axis(["게임","경기일자"])

In [45]:
games_naesr.head()

                             방문팀  방문팀점수                     홈팀  홈팀점수
게임 경기일자
0  2017-10-17     Boston Celtics     99    Cleveland Cavaliers   102
1  2017-10-17    Houston Rockets    122  Golden State Warriors   121
2  2017-10-18    Milwaukee Bucks    108         Boston Celtics   100
3  2017-10-18      Atlanta Hawks    117       Dallas Mavericks   111
4  2017-10-18  Charlotte Hornets     90        Detroit Pistons   102

In [46]:
games_naesr = games_naesr.sort_index()

In [47]:
games_naesr.head()

                             방문팀  방문팀점수                     홈팀  홈팀점수
게임 경기일자
0  2017-10-17     Boston Celtics     99    Cleveland Cavaliers   102
1  2017-10-17    Houston Rockets    122  Golden State Warriors   121
2  2017-10-18    Milwaukee Bucks    108         Boston Celtics   100
3  2017-10-18      Atlanta Hawks    117       Dallas Mavericks   111
4  2017-10-18  Charlotte Hornets     90        Detroit Pistons   102

In [48]:
type(games_naesr.index)

pandas.core.indexes.multi.MultiIndex

In [49]:
type(games_naesr.columns)

pandas.core.indexes.base.Index

## 예제 10-5 데이터 작업 체인닝 처리하기

In [50]:
games_all = (games_na.rename(columns=column_names)
    .dropna(thresh=4)
    [['경기일자', '방문팀', '방문팀점수', '홈팀', '홈팀점수']]
    .assign(경기일자=lambda x: pd.to_datetime(x['경기일자'], format='%a, %b %d, %Y'))
    .set_index('경기일자', append=True)
    .rename_axis(["게임", "경기일자"])
    .sort_index())

In [51]:
games_all.head()

                             방문팀  방문팀점수                     홈팀  홈팀점수
게임 경기일자
0  2017-10-17     Boston Celtics     99    Cleveland Cavaliers   102
1  2017-10-17    Houston Rockets    122  Golden State Warriors   121
2  2017-10-18    Milwaukee Bucks    108         Boston Celtics   100
3  2017-10-18      Atlanta Hawks    117       Dallas Mavericks   111
4  2017-10-18  Charlotte Hornets     90        Detroit Pistons   102

In [52]:
games_all.index.levels[1]

DatetimeIndex(['2017-10-17', '2017-10-18', '2017-10-19', '2017-10-20',
               '2017-10-21', '2017-10-22', '2017-10-23', '2017-10-24',
               '2017-10-25', '2017-10-26', '2017-10-27', '2017-10-28',
               '2017-10-29', '2017-10-30', '2017-10-31'],
              dtype='datetime64[ns]', name='경기일자', freq=None)

## 예제 10-6 데이터 조정해서  확정하기

In [53]:
tidy = pd.melt(games_all.reset_index(),
               id_vars=['게임', '경기일자'], value_vars=['방문팀', '홈팀'],
               var_name='팀구분',value_name='팀')

In [54]:
tidy.head()

   게임       경기일자  팀구분                  팀
0   0 2017-10-17  방문팀     Boston Celtics
1   1 2017-10-17  방문팀    Houston Rockets
2   2 2017-10-18  방문팀    Milwaukee Bucks
3   3 2017-10-18  방문팀      Atlanta Hawks
4   4 2017-10-18  방문팀  Charlotte Hornets

In [55]:
tidy.tail()

      게임       경기일자 팀구분                   팀
203   99 2017-10-30  홈팀           Utah Jazz
204  100 2017-10-31  홈팀       Brooklyn Nets
205  101 2017-10-31  홈팀      Indiana Pacers
206  102 2017-10-31  홈팀  Los Angeles Lakers
207  103 2017-10-31  홈팀     Milwaukee Bucks

In [56]:
tidy.경기일자.dtype

dtype('<M8[ns]')

In [98]:
x = (tidy.groupby('팀')['경기일자'].diff().dt.days == 1 )

In [100]:
tidy['경기일자'][x]

9     2017-10-18
27    2017-10-21
28    2017-10-21
31    2017-10-21
33    2017-10-21
34    2017-10-21
44    2017-10-23
61    2017-10-25
63    2017-10-25
76    2017-10-28
79    2017-10-28
88    2017-10-29
91    2017-10-30
96    2017-10-30
97    2017-10-30
137   2017-10-21
173   2017-10-27
Name: 경기일자, dtype: datetime64[ns]

In [57]:
ab = tidy.groupby('팀')['경기일자'].diff().dt.days -1

In [58]:
ab.shape

(208,)

In [59]:
ab.isnull().sum()

30

In [60]:
tidy['휴식일'] = tidy.sort_values('경기일자').groupby('팀').경기일자.diff().dt.days - 1

In [61]:
tidy.isnull().sum()

게임       0
경기일자     0
팀구분      0
팀        0
휴식일     30
dtype: int64

In [62]:
tidy = tidy.fillna(0)

In [63]:
tidy.shape

(208, 5)

In [64]:
tidy.head()

   게임       경기일자  팀구분                  팀  휴식일
0   0 2017-10-17  방문팀     Boston Celtics  0.0
1   1 2017-10-17  방문팀    Houston Rockets  0.0
2   2 2017-10-18  방문팀    Milwaukee Bucks  0.0
3   3 2017-10-18  방문팀      Atlanta Hawks  0.0
4   4 2017-10-18  방문팀  Charlotte Hornets  0.0

In [65]:
by_game = pd.pivot_table(tidy, values='휴식일',
                          index=['게임', '경기일자'],
                          columns='팀구분')

In [66]:
by_game.head()

팀구분            방문팀   홈팀
게임 경기일자
0  2017-10-17  0.0  0.0
1  2017-10-17  0.0  0.0
2  2017-10-18  0.0  0.0
3  2017-10-18  0.0  0.0
4  2017-10-18  0.0  0.0

In [67]:
by_game = by_game.rename(columns={'방문팀': '방문팀휴식일',
                              '홈팀': '홈팀휴식일'})

In [68]:
by_game.head()

팀구분            방문팀휴식일  홈팀휴식일
게임 경기일자
0  2017-10-17     0.0    0.0
1  2017-10-17     0.0    0.0
2  2017-10-18     0.0    0.0
3  2017-10-18     0.0    0.0
4  2017-10-18     0.0    0.0

In [69]:
by_game.shape

(104, 2)

In [70]:
games_all.head()

                             방문팀  방문팀점수                     홈팀  홈팀점수
게임 경기일자
0  2017-10-17     Boston Celtics     99    Cleveland Cavaliers   102
1  2017-10-17    Houston Rockets    122  Golden State Warriors   121
2  2017-10-18    Milwaukee Bucks    108         Boston Celtics   100
3  2017-10-18      Atlanta Hawks    117       Dallas Mavericks   111
4  2017-10-18  Charlotte Hornets     90        Detroit Pistons   102

In [71]:
df = pd.concat([games_all, by_game], axis=1)

In [72]:
df.head()

,,방문팀,방문팀점수,홈팀,홈팀점수,방문팀휴식일,홈팀휴식일
게임,경기일자,,,,,,
0,2017-10-17,Boston Celtics,99,Cleveland Cavaliers,102,0.0,0.0
1,2017-10-17,Houston Rockets,122,Golden State Warriors,121,0.0,0.0
2,2017-10-18,Milwaukee Bucks,108,Boston Celtics,100,0.0,0.0
3,2017-10-18,Atlanta Hawks,117,Dallas Mavericks,111,0.0,0.0
4,2017-10-18,Charlotte Hornets,90,Detroit Pistons,102,0.0,0.0

In [73]:
df.tail()

,,방문팀,방문팀점수,홈팀,홈팀점수,방문팀휴식일,홈팀휴식일
게임,경기일자,,,,,,
99,2017-10-30,Dallas Mavericks,89,Utah Jazz,104,1.0,1.0
100,2017-10-31,Phoenix Suns,122,Brooklyn Nets,114,2.0,1.0
101,2017-10-31,Sacramento Kings,83,Indiana Pacers,101,1.0,1.0
102,2017-10-31,Detroit Pistons,93,Los Angeles Lakers,113,1.0,2.0
103,2017-10-31,Oklahoma City Thunder,110,Milwaukee Bucks,91,2.0,1.0

In [74]:
df.shape

(104, 6)

In [75]:
df.isnull().sum()

방문팀       0
방문팀점수     0
홈팀        0
홈팀점수      0
방문팀휴식일    0
홈팀휴식일     0
dtype: int64

In [76]:
by_game_ = (pd.pivot_table(tidy, values='휴식일',
                          index=['게임', '경기일자'],
                          columns='팀구분')
             .rename(columns={'방문팀': '방문팀휴식일',
                              '홈팀': '홈팀휴식일'}))

In [77]:
df_ = pd.concat([games_all, by_game_], axis=1)

In [102]:
df_.head()

,,방문팀,방문팀점수,홈팀,홈팀점수,방문팀휴식일,홈팀휴식일
게임,경기일자,,,,,,
0,2017-10-17,Boston Celtics,99,Cleveland Cavaliers,102,0.0,0.0
1,2017-10-17,Houston Rockets,122,Golden State Warriors,121,0.0,0.0
2,2017-10-18,Milwaukee Bucks,108,Boston Celtics,100,0.0,0.0
3,2017-10-18,Atlanta Hawks,117,Dallas Mavericks,111,0.0,0.0
4,2017-10-18,Charlotte Hornets,90,Detroit Pistons,102,0.0,0.0